{{define "content"}}
<article class="prose prose-blue prose-2xl md:prose-xl">
  <h1>Getting Here: Planes, Trains and Automobiles (and Ferries)</h1>
  <time datetime="2021-09-19" class="italic">September 19, 2021</time>

  <p>
    As some of you know, I can be a bit wordy, so I will do my best to
    let the pictures sit in for my 1000 words here.
  </p>

  <p>
    First we (my boyfriend Adam decided to make the leap and come with
    me) moved some stuff into storage for the year. And some of us did
    some skateboarding…
  </p>

  <figure>
    <a target="_blank" href="img/01_adam-skateboarding.jpg">
      <img
        alt="Adam skateboarding at the storage unit."
        src="img/thumbs/01_adam-skateboarding.jpg"
      />
    </a>

    <figcaption>Adam skateboarding at the storage unit.</figcaption>
  </figure>

  <figure>
    <a target="_blonk" href="img/02_storage-unit-1.jpg">
      <img
        alt="Our storage unit."
        src="img/thumbs/02_storage-unit-1.jpg"
      />
    </a>
  </figure>

  <p>
    It turns out we have more stuff than we thought, despite
    selling a lot of it! After much schlepping we got it all into a
    10x15 unit, conveniently avoiding the rain but unfortunately we
    couldn't escape the 90 degree heat…
  </p>

  <figure>
    <a href="img/03_storage-unit-2.jpg">
      <img
        alt="Done with storage!"
        src="img/thumbs/03_storage-unit-2.jpg"
      />
    </a>
  </figure>

  <p>
    Adam didn't think we could fit the last load of storage stuff
    along with our 2 checked bags each, but I am a
    car-tetras <em>MASTER</em>, so we did:
  </p>

  <figure>
    <a target="_blank" href="img/04_prius-1.jpg">
      <img
        alt="Loading the Prius part 1"
        src="img/thumbs/04_prius-1.jpg"
      />
    </a>
  </figure>

  <figure>
    <a target="_blank" href="img/05_prius-2.jpg">
      <img
        alt="Loading the Prius part 2"
        src="img/thumbs/05_prius-2.jpg"
      />
    </a>
  </figure>

  <figure>
    <a target="_blank" href="img/06_prius-3.jpg">
      <img
        alt="Loading the Prius part 3"
        src="img/thumbs/06_prius-3.jpg"
      />
    </a>
  </figure>

  <figure>
    <a target="_blank" href="img/07_prius-4.jpg">
      <img
        alt="Loading the Prius part 4"
        src="img/thumbs/07_prius-4.jpg"
      />
    </a>
    <figcaption>And there's so much legroom too!</figcaption>
  </figure>

  <figure>
    <a target="_blank" href="img/08_prius-5.jpg">
      <img
        alt="Buckled up in the Prius packed full with all our stuff"
        src="img/thumbs/08_prius-5.jpg"
      />
    </a>
    <figcaption>Journey to Rostock part I: Indy to Chicago</figcaption>
  </figure>

  <p>
    Eventually we made it to O'Hare International Airport…
  </p>

  <figure>
    <a target="_blank" href="img/09_airport.jpg">
      <img
        alt="Standing in front of the airport with all our bags"
        src="img/thumbs/09_airport.jpg"
      />
    </a>
    <figcaption>Standing in front of the airport with all our bags</figcaption>
  </figure>

  <p>
    After a quick scramble to get an airport COVID test because we
    didn't realize we needed one <em>in addition</em> to being vaccinated, we
    rushed to our gate and were finally on our way to the Keflavik
    International Airport…
  </p>

  <figure>
    <a target="_blank" href="img/10_airplane-1.jpg">
      <img
        alt="Soaring over the clouds as the sun rises over Reykjavik"
        src="img/thumbs/10_airplane-1.jpg"
      />
    </a>
    <figcaption>Soaring over the clouds as the sun rises over Reykjavik</figcaption>
  </figure>

  <p>Where the sun rose majestically over Iceland…</p>

  <figure>
    <a target="_blank" href="img/11_airplane-2.jpg">
      <img
        alt="Landed in Reykjavik"
        src="img/thumbs/11_airplane-2.jpg"
      />
    </a>
    <figcaption>Journey to Rostock part II: Chicago to Reykjavik</figcaption>
  </figure>

  <p>
    We landed and stumbled through the adorable Icelandic airport and
    just had time for a quick earthbound bathroom break before
    boarding the next flight to Berlin Schönefeld Airport. I tossed
    and turned and eventually gave up on sleeping to watch another
    movie…
  </p>

  <figure>
    <a target="_blank" href="img/12_airplane-3.jpg">
      <img
        alt="Landed in Berlin"
        src="img/thumbs/12_airplane-3.jpg"
      />
    </a>

    <figcaption>
      Journey to Rostock part III: Reykjavik to Berlin (it felt like we hadn't slept in weeks…)
    </figcaption>
  </figure>

  <p>
    It proved rather challenging to be a sleep deprived translator and
    suitcase hauler, but we ended up finding our way to our hostel,
    and after some showers we dragged ourselves out into the city. We
    managed to get new SIM cards and eat dinner and dessert before it
    became clear that Adam would have to carry me back if we stayed a
    minute longer. We were in bed by 8, but that was almost sunset, so
    I was proud of us. Here we are by the Spree River.
  </p>

  <figure>
    <a target="_blank" href="img/13_berlin.jpg">
      <img
        alt="On the Spree river with a nearly invisible Fernsehturm in the background"
        src="img/thumbs/13_berlin.jpg"
      />
    </a>
    <figcaption>On the Spree river with a nearly invisible Fernsehturm in the background</figcaption>
  </figure>

  <p>
    The next day we met our airbnb host for our temporary apartment in
    Rostock at the Berlin Hauptbahnhof (main train station), and then
    got on the train:
  </p>

  <figure>
    <a target="_blank" href="img/14_bags.jpg">
      <img
        alt="A very tired Kate standing with all our bags at the Hauptbahnhof"
        src="img/thumbs/14_bags.jpg"
      />
    </a>

    <figcaption>A very tired Kate standing with all our bags at the Hauptbahnhof</figcaption>
  </figure>

  <figure>
    <a target="_blank" href="img/15_train.jpg">
      <img
        alt="On the train from Berlin to Rostock"
        src="img/thumbs/15_train.jpg"
      />
    </a>
    <figcaption>Journey to Rostock part IV: Berlin to Rostock!</figcaption>
  </figure>

  <p>
    The schlepping of our sum total of 8 heavy bags had almost
    finished, as we transferred to the tram at the Rostock
    Hauptbahnhof. Then we just had to roll the loot down the cobbled
    streets and up the 4 flights of stairs up to the apartment we were
    renting. Thus began our exploration of Rostock, starting with the
    amazing view from the bedroom window:
  </p>

  <figure>
    <a target="_blank" href="img/16_airbnb-1.jpg">
      <img
        alt="Catching the sunset outside the window at our Rostock airbnb"
        src="img/thumbs/16_airbnb-1.jpg"
      />
    </a>
    <figcaption>Catching the sunset outside the window at our Rostock airbnb</figcaption>
  </figure>

  <figure>
    <a target="_blank" href="img/17_airbnb-2.jpg">
      <img
        alt="A happy Kate finally in Rostock"
        src="img/thumbs/17_airbnb-2.jpg"
      />
    </a>
  </figure>

  <figure>
    <a target="_blank" href="img/18_airbnb-3.jpg">
      <img
        alt="A happy Kate and Adam finally in Rostock"
        src="img/thumbs/18_airbnb-3.jpg"
      />
    </a>
  </figure>

  <p>
    And continuing on to a refreshing local beer on the harbor…
  </p>

  <figure>
    <a target="_blank" href="img/19_rostocker.jpg">
      <img
        alt="Adam enjoying a Rostocker in Rostock"
        src="img/thumbs/19_rostocker.jpg"
      />
    </a>
    <figcaption>Adam enjoying a Rostocker in Rostock</figcaption>
  </figure>

  <p>
    To a ferry ride across the Warnow River (as it flows into the Baltic Sea)
  </p>

  <figure>
    <a target="_blank" href="img/20_ferry.jpg">
      <img
        alt=""
        src="img/thumbs/20_ferry.jpg"
      />
    </a>
    <figcaption></figcaption>
  </figure>

  <p>
    So basically: Wir lieben Rostock! ("We love Rostock," as the sign behind Adam's head says)
  </p>

  <figure>
    <a target="_blank" href="img/21_ich-liebe-rostock.jpg">
      <img
        alt="Standing in front of a building that says: Ich Liebe Rostock"
        src="img/thumbs/21_ich-liebe-rostock.jpg"
      />
    </a>
  </figure>
</article>
{{end}}
