{{define "content"}}
<article class="prose prose-blue prose-lg md:prose-xl">
  <h1>Settling In: KTV</h1>
  <time datetime="2021-09-21">Sep 21, 2021</time>

  <p>
    We were so busy walking around and exploring Rostock from the time
    we arrived until we moved to Gehlsdorf, that I didn't have time to
    do much note-taking, which means I've already forgotten some of
    the details. But I'll do my best to hit the highlights. We walked
    around a lot, mostly.
  </p>

  <p>
    Our airbnb was in Kröperliner-Tor-Vorstadt (KTV for short) which
    is the hip college kid area apparently.
  </p>

  <p>
    To give you some idea of the layout of Rostock, the Warnow River
    is an important feature. It meanders its winding way for nearly
    100 miles on its journey northward from its source in southern
    Mecklenburg Vorpommern (or <q>Mecklenburg West Pomerania</q> in
    English, which is the Bundesland where Rostock is located.) By the
    time the Warnow reaches Rostock, it widens into a hook shaped
    harbor, sweeping west and then north where it finally spills into
    the Baltic at Warnemünde. All this to say that the city center and
    KTV are on the southern bank, while Gehlsdorf (where we are living
    now) is on the north bank.
  </p>

  <figure>
    <a href="img/01_KTV-Time-Map.png">
      <img
        width="600"
        src="img/01_KTV-Time-Map.png"
        alt="A Map of Rostock With Important Places Noted"
      />
    </a>

    <figcaption>A Map of Rostock With Important Places Noted</figcaption>
  </figure>

  <p>
    This meant, that we had to take the ferry to view this apartment,
    in order to decide if we wanted to move in, which was quite an
    adventure. We walked around Gehlsdorf a bit while over here—it is
    definitely quieter on this side of the harbor—with fewer
    businesses and more single family homes. There are also a ton of
    sailboats over here!
  </p>

  <p>
    In the afternoons and evenings, we would usually (as in every day)
    find ourselves at the harbor, which was only a few blocks from the
    KTV apartment. We would usually stroll up and down, and then
    nearly inevitably find ourselves at <em>ROST DOCK</em> which was
    really not much more than a collection of bright yellow shipping
    containers, where we drank many a bear/soda/coffee/water. It
    really was an ideal spot: overlooking the water we watched the
    sailboats, crew teams and paddle boarders cruise by, as well as a
    few bigger tour boats. It felt very fitting that Rost-Dock's last
    evening of the season was also our last evening in KTV. Adam
    suggested I put the majority of the no-caption needed photos in on
    a more viewer-friendly platform, so check out the link below for <strong>EVEN MORE</strong> photos,
    and read on for more context and some <q>translation needed</q>
    photos:
    <a href="https://photos.app.goo.gl/UDtmigJjMUVNu7Q19">
      https://photos.app.goo.gl/UDtmigJjMUVNu7Q19
    </a>
  </p>

  <p>
    Our rambling walks led us to the grocery store quite often where
    we found all the necessary ingredients for delicious Deutsche
    Früstuck. The key elements are: Fresh Brötchen (rolls) some good
    cheese, often some sort of sliced deli meat (if you like that
    kind of thing…) some sliced up fruits and veggies if you want,
    coffee or tea, sometimes a soft boiled egg, and to me most
    importantly: all of the available spreads. I do mean ALL
    available spreads—from pesto to gooseberry jam. This allows for
    some creative combinations, it's not just Nutella and butter, if
    you really get funky like I do, it's also honey with herbed
    sheep cheese, or mustard and tomato—whatever you want. Also at
    the grocery sore we found some actual champagne (like from that
    region in France!) for less than 5 Euros! A real wine
    connoisseur might have scoffed, but we were pretty excited.
  </p>

  <p>
    Another day we found a lovely rose garden near the Steintor
    (stone gate) seen here with its impressive spire and imposing
    griffin guards.
  </p>

  <figure>
    <a href="img/02_Steintor.jpg">
      <img
        width="600"
        src="img/thumbs/02_Steintor.jpg"
        alt="Steintor means Stone Gate"
      />
    </a>

    <figcaption>Steintor = <q>Stone Gate</q></figcaption>
  </figure>

  <p>
    The latin apparently means <q>May harmony and prosperity reign
    within your walls</q> which is a nice sentiment, since it is on
    the site of what used to be the main southern entrance to what
    was at the time a walled city.
  </p>

  <p>
    We managed to see some other fun things too, like the
    botanical garden:
  </p>

  <figure>
    <a href="img/03_Botanical-Garden-Sign.jpg">
      <img
        width="600"
        src="img/thumbs/03_Botanical-Garden-Sign.jpg"
        alt="Appreciate and protect diversity: Botanical Garden, University of Rostock"
      />
    </a>

    <figcaption>Appreciate and protect diversity: Botanical Garden, University of Rostock</figcaption>
  </figure>

  <p>
    We had fantastic luck with the weather for the first two
    weeks actually—it was bright and sunny at least for part of
    most days, if not always that warm. On the warmest and
    sunnies day (it was almost 80) we decided to take the train
    to Warnemünde, which is the coastal area—technically still
    part of Rostock, but is a bit of a trek to get there. After
    a tram and a train and a bit of a walk we found ourselves on
    the baltic coast at last!
  </p>

  <p>
    So we had a quick swim. It was still pretty cold, but not
    too salty, compared with the Atlantic certainly. We quickly
    realized that sinceI only had a small beach towel and Adam's
    was hand-towel sized, a lot of lazy beach-lounging wasn't
    really in the cards. So we strolled along the beach and then
    on to the peer where we peered at the lighthouses and boats
    going by. We eventually strolled back inland, along the
    canal where the Warnow river spills into the baltic, and
    tried our best to avoid bumping into the hordes of tourists.
    We'll have to go back when it's deeper into the off season
    and we can have the place more to ourselves.
  </p>

  <p>
    One Saturday we toured Marienkirche (St. Mary's Church)
    which is the biggest church in Rostock. The original
    building was begun in 1230 (which blows my mind—the oldest
    buildings still standing in the US weren't built until two
    centuries later!)
  </p>

  <figure>
    <a href="img/04_Astro-Clock-Marienkirche.jpg">
      <img
        width="600"
        src="img/thumbs/04_Astro-Clock-Marienkirche.jpg"
        alt="The church is famous for it's unique astrological clock"
      />
    </a>

    <figcaption>The church is famous for it's unique astrological clock</figcaption>
  </figure>

  <p>
    Amongst all the tourist-ing, I did manage to actually start
    school at Musikgymnasium Käthe Kollwitz Rostock. It is what
    we would call a music magnet school, that serves kids in
    grades 5-12, about half of whom are in the music program and
    half who are not. Adam and I met up with a couple of the
    teachers I had been corresponding with for coffee on Friday
    the 4th of September, and then I got a tour and started
    observing the English classes on Monday (when everyone was
    off work in the US for Labor Day, which is celebrated in May
    here) Things started off easily, as I just introduced myself
    and answered some general questions about myself and the US.
    The questions varied widely from <q>what is your favorite
    song/movie/show?</q> to <q>Is it true that McDonalds is better in
    the US?</q> There were also more serious questions about covid
    policy in the US versus Germany, the inevitable questions
    about Trump, and some well-thought out inquiries about
    gender-neutral pronouns, Black Lives Matter and the recent
    Texas abortion laws. All-in-all the students and teachers
    have been very friendly and welcoming as well as curious and
    eager to work with me, which certainly makes me look forward
    to the year and to leading more activities.
  </p>

  <p>
    This sign in the bathroom made me chuckle at what a
    confusing mix of tones it conveyed: both cute and also
    so…passive aggressive? The translation would be <q>It is free
    to use the toilet brush!</q>
  </p>

  <figure>
    <a href="img/05_Passive-Aggressive_WC-Sign.jpg">
      <img
        width="600"
        src="img/thumbs/05_Passive-Aggressive_WC-Sign.jpg"
        alt="Passive-Aggressive Bathroom Sign"
      />
    </a>

    <figcaption><q>It is free to use the toilet brush!</q></figcaption>
  </figure>

  <p>
    This is the mural on the gym building that is backed up
    against the path from the bus and tram stop. I like the
    musical-sportiness of it. The little ship icon on our
    guitar-playing (relay running?) musical athlete's shirt is
    the logo for the local soccer team: Fußball Club Hansa,
    which is a nod to the Hanseatic-League history of the city.
    The fans are VERY committed, and occasionally a bit
    over-the-top in their avid support, apparently. It was the
    most successful East German athletic team after unification,
    and although they have had a couple of rough years, this
    season seems to be off to a good start. We heard the
    cheering from the apartment when they beat Darmstadt with
    the home-team advantage.
  </p>

  <figure>
    <a href="img/06_Gym-Wall-Mural.jpg">
      <img
        width="600"
        src="img/thumbs/06_Gym-Wall-Mural.jpg"
        alt="Gymn Wall Mural"
      />
    </a>

    <figcaption>Musical Athletes, or Athletic Musicians?</figcaption>
  </figure>

  <p>
    And now for some photos that don't fit in exactly anywhere
    above, but need some background explanation, so if I only
    put them on the google photos page they might not make
    sense…
  </p>

  <figure>
    <a href="img/07_Fear-Begins.jpg">
      <img
        width="600"
        src="img/thumbs/07_Fear-Begins.jpg"
        alt="Inspirational Grafiti"
      />
    </a>

    <figcaption><q>Fear begins in your head, but so does courage</q></figcaption>
  </figure>

  <p>
    This next picture is a direct translation of the saying
    <q>Mehr Deutsch geht nicht</q> or non-literally translated
    <q>You can't get any more German than this</q> We found it in a craft
    beer store, so even though Adam was pretty horrified about buying
    one beer for 6 Euros, the language nerd in me had to get it.
  </p>

  <figure>
    <a href="img/08_More-German Goes-Not.jpg">
      <img
        width="600"
        src="img/thumbs/08_More-German Goes-Not.jpg"
        alt="Language Nerd Beer"
      />
    </a>

    <figcaption>Mehr Deutsch geht night: Language Nerd Beer</figcaption>
  </figure>

  <p>
    Why denote bathrooms with a boring stick figure or the same
    old words when you can just mark the separate stalls by how
    you do your business: either sitting only (that would be
    me!) or standing/sitting. It made me laugh, although I have
    never quite understood why single stall bathrooms need to be
    gendered at all….
  </p>

  <figure>
    <a href="img/09_Sitzen-Stehen.jpg">
      <img
        width="600"
        src="img/thumbs/09_Sitzen-Stehen.jpg"
        alt="Standing/Sitting or Sitting Bathroom?"
      />
    </a>

    <figcaption>Standing/Sitting or Sitting Bathroom?</figcaption>
  </figure>

  <p>
    This is a sculpture outside of the Volksteater (people's
    theatre) that was right near our KTV apartment.
  </p>

  <figure>
    <a href="img/10_Volkstheater-Sign.jpg">
      <img
        width="600"
        src="img/thumbs/10_Volkstheater-Sign.jpg"
        alt="Volkstheater Sign"
      />
    </a>

    <figcaption><q>Anyone who looks, sees</q></figcaption>
  </figure>

  <p>
    So this will take some explaining if you don't speak German, but
    stick with me, it's funny. So the election happened recently (the
    26th) and so there were campaign posters on every lamppost. One of
    the many parties is the
    <q>Tierschutzpartei</q> or the <q>the animal protection party</q>
    (trust German to have one word where we need 3!) Conveniently
    enough for this jokester, <q>Tier</q> (animal) and
    <q>Bier</q> (yep, beer) are just one little letter different, so
    now we have the <q>Beer protection party</q> because, as the
    sentence above points out <q>beer is important</q>
  </p>

  <figure>
    <a href="img/11_Bierschutzpartei.jpg">
      <img
        width="600"
        src="img/thumbs/11_Bierschutzpartei.jpg"
        alt="Bierschutzpartei Sign"
      />
    </a>

    <figcaption>
      I guess the <q>Beer Protection Party</q> might get lots of votes no matter where they ran…
    </figcaption>
  </figure>

  <p>
    My Amplemann sticker finally got to reunite with his real
    light-up counterpart! <q>Ample</q> just means street light, but
    the Amplemann has become somewhat of a symbol of East
    Germany, since that is where this adorable little green
    fellow originates. His twin/alter/ego is red with his arms
    stretched out.
  </p>

  <figure>
    <a href="img/12_Amplemann.jpg">
      <img
        width="600"
        src="img/thumbs/12_Amplemann.jpg"
        alt="Amplemann sticker meets Amplemann in real life"
      />
    </a>

    <figcaption>Amplemann is reunited with his brethren</figcaption>
  </figure>

  <p>
    Who says you can't grow full-sized tomato plants on your
    windowsill? All you need is a tension rod, some beer crates
    and a bit of string!
  </p>

  <figure>
    <a href="img/13_Tomato-Sill.jpg">
      <img
        width="600"
        src="img/thumbs/13_Tomato-Sill.jpg"
        alt="Tomato-Sill"
      />
    </a>

    <figcaption>Just some local neighborhood ingenuity that made me smile</figcaption>
  </figure>

  <p>
    This modern shopping center, as well as our airbnb's
    neighborhood were named for the actual Kröpeliner Tor, which
    is the tall gate in the background. <q>Tor</q> means <q>gate</q> as in
    the famous <q>Brandenburger Tor</q> in Berlin. This one was built
    in 1270, and it served as the westernmost city
    fortifications of Rostock.
  </p>

  <figure>
    <a href="img/14_K-Tor-V.jpg">
      <img
        width="600"
        src="img/thumbs/14_K-Tor-V.jpg"
        alt="Kröpeliner Tor/Mall"
      />
    </a>

    <figcaption>Old meets new, as a mall and a medieval fortification cozy up</figcaption>
  </figure>

  <p>
    And that rounds off our headfirst dive into Rostock, folks!
    Thanks for sticking with me. I'll keep adding posts, and
    eventually hope to be less than a month behind where we
    actually are…next up: moving to Gehlsdorf! In the
    meantime, check out the link for more photos, if you're not
    sick of this yet:

    <a href="https://photos.app.goo.gl/UDtmigJjMUVNu7Q19">
      https://photos.app.goo.gl/UDtmigJjMUVNu7Q19
    </a>
  </p>
</article>
{{end}}
