{{define "content"}}
<article class="blog-post">
  <h1>The City of Lights…and Bread and Walking a Lot!</h1>
  <time datetime="2022-01-05" class="italic">January 5, 2022</time>

  <p>
    The cool thing about living in Europe is that it's not that big: there
    are a lot of cool places in a pretty small area. So I went to Paris!
    You can see all the photos I took here: <a href="https://photos.app.goo.gl/Je6URr25egCXjih19">https://photos.app.goo.gl/Je6URr25egCXjih19</a>
  </p>

  <p>
    I made it to the train station on time on Friday the 17th of December,
    and was able to catch my train to Hamburg, where Maggie found me at
    the Hauptbahnhof. I guess I am a child of this current era, because I
    find it hard to believe that everyone didn't go crazy trying to find
    people in train stations before cell phones&mdash;it's quite confusing
    with so much going on on the platform! But find each other we did, and
    set off for a quick Christmas market pit-stop, before heading to the
    airport.
  </p>

  <p>
    After strolling about, we decided on splitting some candied nuts.
    There was an overwhelming array to choose from, but we eventually
    settled on the pick 3 deal to share. We went for: after 8, ginger, and
    salt. Kate can't resist salty things, Maggie can't resist chocolate,
    and we both like ginger. Except in this case, we sort of didn't. The
    ginger ones were a bit…soggy? Not crisp anymore, at least, which was
    disappointing. And the salt crystals stuck to the already candied
    almonds would have been good, there was just too much of it. We ended
    up picking most of it off&mdash;with a few grains of salt, it balanced
    the sweetness well, but as it was you would have had to chug an entire
    water bottle to compensate for each handful of nuts. The after 8 ones
    were good though&mdash;minty and chocolatey goodness.
  </p>

  <p>
    Looking up at the fake candles decorating the tree above as we
    munched, Maggie told me a quintessential German Christmas story from
    school. She had been in the school's kitchen helping some of the 12th
    graders do some holiday baking. Of course, the windows were opened at
    some point, because Germans believe that fresh air solves most
    problems (and in the case of covid, it does at least help limit
    transmission.) And as we were fast approaching the 4th advent weekend,
    there were of course candles. And some of the cookies were resting on
    paper napkins…which, when the teacher was out of the room inevitably
    blew over the tea light and caught on fire!
  </p>

  <p>
    Everyone froze. Eventually Maggie just moved the candle and the napkin
    burned itself out. But by this time the next candle over had lit
    another napkin and one of the students just calmly dumped a water
    bottle over it. Needless to say the teacher was confused by finding so
    much soggy ash on the table when she came back, but things could have
    been much worse!
  </p>

  </p>
  After I finished guffawing over this story, we packed up our remaining
  nuts and made our way to the airport. The flight was fairly
  uneventful, except for me convincing Maggie to try tomato juice for
  the first time "it's like cold tomato soup, not bad!" Another convert,
  I'll take it! We were also pleasantly surprised to get goat cheese and
  tomato sandwiches, despite the short flight. Thanks Air France!
  </p>

  <p>
    It was after dark when we landed in Paris, and after figuring out
    which public transit tickets we needed, we headed towards our airbnb.
    A sandwich pit-stop before we got on the bus began our tradition of
    eating bread for every meal while in Paris, because why not? We were a
    bit annoyed and disappointed in the more lax mask wearing we witnessed
    on the metro there. I guess it's true that no ones respects <em>the rules</em> quite
    like the Germans, alas…
  </p>

  <p>
    There was a woman who sat down right across from us, and she
    immediately proceeded to lower her mask to her chin and touch-up her
    lipstick. Maggie and I shared a look that said 'What's the point? It's
    just gonna get all smeared when she puts her mask back on!' But no, as
    it turned out, she neatly avoided this issue by continuing to wear her
    mask on her chin for the rest of the ride…At least we had each other
    to surreptitiously share an eye roll. Eventually we made it, and met
    our friendly airbnb host, checked in briefly with Maggie's friend
    Camille who we would meet up with the next day, and headed straight to
    bed.
  </p>

  <p>
    Maggie sent me a video of her sunrise run to Sacré Cœur the next
    morning, which I watched while still snuggled cozily in bed&mdash;sort
    of the best of both worlds, really. I too was up and dressed shortly
    after Maggie got back and showered. We were off to meet Camille by
    Sacré Cœur once again, after we had picked up two pain au chocolats
    for breakfast. The very crowded metro was delayed on the tracks for a
    good 10 minutes, but given that it was an elevated track and we got to
    enjoy some sunshine and a view of Sacré Cœur if you craned your neck,
    it could have been worse.
  </p>

  <p>
    We successfully fended off the many trinket vendors on the steps up to
    the impressive basilica. We enjoyed the blue sky, but couldn't help
    noticing the haze of pollution still hovering over the city. After
    some squinted selfies, we continued on our way.
  </p>

  <figure>
    <a href="img/01_sacre-coeur.jpg">
      <img
        src="img/thumbs/01_sacre-coeur.jpg"
        alt="Maggie Camille and Kate with Sacré Cœur in the background"
      />
    </a>

    <figcaption>Sunny days make for squinty pictures</figcaption>
  </figure>

  <p>
    As I have come to expect on any day with Maggie, we walked <em>a lot</em> which
    incidentally is a wonderful way to explore a city like Paris. Since
    Maggie and I had both been before, and Camille's grandmother (who she
    was there visiting) lives right outside the city, we didn't feel a lot
    of pressure to rush around and see all the things. In fact we only
    ever saw the Eiffel tower from a distance, which was really just fine.
    We strolled by the modern art museum, the still-under-construction
    Notre Dame, and saw a very accomplished band jamming by the Sein.
  </p>

  <p>
    Before long, we found ourselves with some more pastries sitting in the
    sunshine outside the Pantheon. We peaked into the stately college of
    law at the Sorbonne, and even watched the filming of what was either a
    music video, or a very sophisticated tiktok? Either way, these kids
    really had the moves down, it was pretty impressive. From there, we
    strolled down the street for some crepes, enjoyed with the apparently
    traditional sparkling cider. Camille and Maggie went sweet, but I
    opted for the veggie crepe&mdash;enjoying the cherry tomatoes and
    delicious cheese especially.
  </p>

  <p>
    Apparently, on Camille's official CV that she has been submitting for
    her medical residency interviews, in the "interests" section it says
    "Butter tasting." When in the US she misses the butter with salt
    crystals in it that you can get in France, but not in Rochester NY
    evidently. So on the list for the day was butter tasting. It was after
    dark by the time we acquired two sticks of butter that were not quite
    the brand Camille usually gets, but she hoped would do the trick. Thus
    armed with our tiny box of macarons to sample, and a loaf of bread, we
    headed for the scenic view from one of the many bridges over the Sein
    river to enjoy our…dinner?
  </p>

  <p>
    We let the music from the talented buskers wash over us along with the
    moonlight and the lights from the city of lights. It turned out that
    one of the sticks of butter was just normal salted butter, and the
    other, while it did have a few salt crystals, was just…bad. This did
    not stop us from ripping giant hunks of crusty bread and slathering it
    in the normal salted butter. In a shocking turn of events, Maggie did
    not have a butter knife in her backpack, and so we used these little
    plastic free sample thingies that were sort of a cross between a
    toothpick and a tiny two-pronged fork that we had found in the grocery
    store. The result was that before long it looked like the butter had
    been attacked by some sort of rodent.
  </p>

  <figure>
    <a href="img/02_bread-butter.jpg">
      <img
        src="img/thumbs/02_bread-butter.jpg"
        alt="Our hacked up butter and bread dinner"
      />
    </a>

    <figcaption>We made do with the utensils we had…</figcaption>
  </figure>

  <p>
    So the salt crystal butter tasting wasn't a complete success, but I
    enjoyed the experience immensely. My rose macaron was delicious, and
    Maggie enjoyed her chocolatey one. After Camille said her goodbyes to
    head back to her grandma, Maggie and I stayed and ended up eating the
    entire loaf of bread and about half the stick of butter. Our impromptu
    picnic was certainly not what you would call fine dining, but felt
    somehow very Parisian to be eating buttered bread on a moonlit bridge
    over the Sein. We ended up leaving the ravaged butter remnants in our
    airbnb host's fridge, so he was probably left wondering why those nice
    American girls had so brutally attacked the innocent butter…
  </p>

  <p>
    It wasn't quite late enough to head back and go to bed, so we wandered
    into this cute little hole-in-wall bar. With the help of the guy at
    the next table, who spoke English, we were able to order an Aperol
    Spritz for Maggie and since they were out of Cognac, some other French
    digestif that I can't remember the name of anymore. We relaxed and
    munched on the free peanuts for a bit before heading back for the
    night. A relaxing end to an active day.
  </p>

  <p>
    Our last morning was less sunny than expected, and renting bikes to go
    to Versailles turned out to be more complicated than was reasonable.
    Thus, we packed up and checked out of the airbnb and wandered our way
    into the city with our backpacks, so we wouldn't have to go back to
    the edge of town to pick up them up before flying out that evening.
  </p>

  <p>
    An hour and a half, one clementine, two breakfast pastries and six
    kilometers later, we arrived at the Natural History Museum. We had
    noticed that Paris is a very…fragrant city. Sometimes that meant the
    pungent odor of dog poop, but then other times it was the fresh piney
    scent of the Christmas displays, or the buttery goodness wafting out
    of the bakeries. But there was pretty much always some kind of smell.
  </p>

  <p>
    In the "front yard" of the museum there were some really interesting
    sculptures made of silk fabric stretched over frames and depicting a
    wide array of colorful prehistoric animals. The archeology major in
    Maggie enjoyed and was able to explain the type and significance of
    several of the critters to me as well. We strolled through the
    displays before heading inside to the stately museum.
  </p>

  <figure>
    <a href="">
      <img
        src="img/thumbs/03_ferns-statues.jpg"
        alt="Ferns and prehistoric animal statues"
      />
    </a>

    <figcaption>I loved all the colors</figcaption>
  </figure>

  <p>
    I was lucky enough to slide in for free, being under 26 still, but
    Maggie had to pay the entrance fee, alas. We were happy to be able to
    stash our backpacks in the lockers and set off to take in the multiple
    floors of animal tableaus on display. Identifying giraffe species is
    hungry work, it turns out. So after spiraling our way up to the top,
    and looking down on the savannah's worth of creatures from above, we
    decided to avoid the overpriced museum food and head to yet another
    bakery for some lunch.
  </p>

  <p>
    I went out on a limb and tried the cheesy avocado toast. It was
    somewhat odd, but I think part of me was craving some veggies after
    all the bread and butter. The pear tart I got for dessert was
    delicious however, and Maggie's delicate chocolatey confection was a
    wonder to behold. We then meandered our way back to the museum to meet
    up with an old friend of hers who she had met on her rotary exchange
    year in Taiwan.
  </p>

  <p>
    We strolled around the botanical gardens while they reminisced and
    caught up. We heard about how Bernie is studying for the very
    competitive museum curator exam next year, and a bit about the covid
    situation in France. After exploring the mostly dormant but still
    lovely garden, we had to say our goodbyes and head off to the airport.
  </p>

  <p>
    We both opted for a non-bread based dinner with lots of veggies in the
    airport, and settled down to await our flight. Another tomato and goat
    cheese sandwich and some more tomato juice later and we were landing
    back in Hamburg. We didn't have seats together this time, which was
    ok, since I think we both needed some introvert-recharge time after so
    much togetherness.
  </p>

  <p>
    It was bedtime as soon as we got back to Hamburg, since we were both
    exhausted. The next day (Monday) was a rare sunny one, and Mara was
    kind enough to lend me her bike. Maggie walked hers over there with
    me, and we unlocked Mara's and began biking over to a lovely area
    where Maggie and Mara had gone running. It had great bike paths and
    was an interesting mix of industrial harbor area and green meadows. It
    would hardly have mattered where we were though, it was enough to be
    in the sunshine!
  </p>

  <figure>
    <a href="img/04_bike-bridge.jpg">
      <img
        src="img/thumbs/04_bike-bridge.jpg"
        alt="Kate with Mara's bike on a bridge"
      />
    </a>

    <figcaption>Let the ride begin!</figcaption>
  </figure>

  <p>
    At one point, my long trench coat was blowing out in the wind behind
    me, and the uprightness of Mara's bike made me feel like Mrs. Gulch
    from the Wizard of Oz. Maggie agreed, which of course led to her
    filming me cackling as I biked along, screeching "I'll get you my
    pretty, and your little dog too!" We then sent the video to Mara
    who…had never seen the Wizard of Oz…We added it to our list of things
    to do when we went to go visit her at her mom's house in Bonn between
    Christmas and New Years.
  </p>

  <p>
    We ended up going a total of 19.65 miles and finished it all off with
    some delicious and veggie-filled poké bowls. I rely on Maggie to keep
    track of our outdoor activities (ok, and plan them too usually) and I
    have become the official photographer of the duo. It works pretty
    well. After our late lunch, we dropped off Mara's bike, and I grabbed
    my backpack and headed for the Hauptbahnhof and home.
  </p>

  <p>
    The train ride was uneventful, and I was happy to arrive at the
    Rostock Hauptbahnhof on time. I was less happy when the anti-COVID
    precautions protesters were blocking the tram tracks, so that no trams
    were going between where I was and where I needed to go. Great. I had
    to drag my exhausted self, my full backpack and my increasingly bad
    attitude through the dark and sleet-slicked streets of Rostock towards
    home. I was really not looking forward to walking the whole hour and a
    half in the snow/rain. Luckily once I was able to get far enough away
    from the city center and the protests there, I could hop on a tram
    that took me to my bus and eventually home sweet home.
  </p>

  <p>
    The next three days were spent at home happily planning the lesson on
    segregation and Jim-Crow laws that I would be teaching to the 8th
    graders on the first day back after break in January. I knew I
    wouldn't be able to do any planning on the whirlwind holiday adventure
    I was about to embark on, and I wouldn't have any energy left to plan
    anything when I got back late the night before class either.
  </p>

  <p>
    I am privileged in so many ways, especially because I am able to be
    here for this year. One of my many privileges is to have the time
    (such a rare commodity among educators) to really dive head-first into
    lesson planning. Since I have so few classes to prepare for, I have
    the luxury of really jumping into researching and dreaming up cool
    lessons to teach. It has been quite fun actually.
  </p>

  <p>
    I learned a lot researching the history of segregation and Jim-Crow
    laws in the South actually. Of course I knew the basics already, but
    as I read up on it, my original 45 minute lesson swelled to take up
    the whole 90 minute period. I ended up starting my timeline way back
    in 1619 with the first slave ship's arrival in what would become the
    US, after all, so there is a lot to cover. I was proud of the way I
    was able to blend a timeline, interactive activities and the voices of
    people who actually lived in the segregated South.
  </p>

  <p>
    I incorporated an activity I remembered doing as a camper at Farmers
    Union Kamp Kenwood when we learned about segregation there. At the
    beginning of the week, all the brown-eyed kids got yarn bracelets and
    had to sit on the floor for the lesson, while all the non-brown eyed
    campers got chairs like usual. As someone who never faced racism
    herself, and also grew up in a very White part of rural Wisconsin, I
    remember this activity vividly, since it really underscored for me the
    arbitrariness as well as the injustice of distinctions based on color.
    I planned to do the same thing on a smaller scale (just one class
    period) for the similarly racially homogenous group of 8th graders
    here.
  </p>

  <p>
    I was also happy to be able to call-back some of the figures I had
    introduced them to during the New Orleans presentation I had given the
    class a few weeks back. So they were already familiar with Homer
    Plessy and Ruby Bridges. We also watched and discussed the short
    videos put together by NPR's StoryCorp of various people remembering
    what it was like to be Black in the Jim-Crow era of the segregated
    South.
  </p>

  <p>
    Perhaps some of it went over the 8th grader's heads, since I realized
    after teaching it that I had become more accustomed to planning 11th
    and 12th grade lessons recently. But hopefully some of the
    information, and perhaps more importantly the emotional understanding
    sticks with them, like it did for me when I learned about it at camp.
    This is such an important part of history, and unfortunately racism is
    still very much with us today, so I hope I conveyed the significance
    of the topic.
  </p>

  <p>
    I ending by mentioning that even though Jim-Crow segregation is over,
    the racial pay gap, police brutality, micro-aggressions and white
    supremicist groups among other things, are very much still issues of
    today. It felt good to refresh my own knowledge on the subject, and
    also like I was fulfilling my role as a Fulbrighter to share the
    difficult past of the US, while also doing my best to present myself
    as a kind and compassionate representative of my country.
  </p>

  <p>
    Ok. The soapbox is away, that got a little lofty there for a minute.
    Long story short, I had a nice time lesson planning. I also made some
    of my Grandma's famous Christmas treat: peanut butter balls, to share
    with my many holiday hosts. I watched many Christmas movies as I
    finished knitting the gnome ornaments I would gift to the households
    that were hosting me, finalized my own family's gifts, and packed for
    the coming Christmas-New Years adventures!
  </p>

  <figure>
    <a href="img/05_knitted-gnomes.jpg">
      <img
        src="img/thumbs/05_knitted-gnomes.jpg"
        alt="4 knitted gnomes"
      />
    </a>

    <figcaption>I had to have at least one holiday craft</figcaption>
  </figure>

</article>
{{end}}
