{{define "content"}}
<article class="blog-post">
  <h1>Weinachtsferien</h1>
  <time datetime="2022-01-10" class="italic">January 10, 2022</time>

  <blockquote>
    Hello folks! This is the link to the photos: <br/>
    <a href="https://photos.app.goo.gl/jqhd8qPvYxRXfCrk8">https://photos.app.goo.gl/jqhd8qPvYxRXfCrk8</a>
  </blockquote>

  <p>
    It was snowy on Christmas Eve when I woke up in Rostock, and
    prepared to board the train bound for Fulda, where Louisa would
    pick me up. The ride was fairly uneventful, and the snow had
    stopped by the time I got that far south, so I didn't have to roll
    my suitcase over the slushy sidewalks like I had when boarding.
    After much texting and a phone call, I did eventually find Louisa
    and we headed for her Grandma's house a village or two away. We
    met Oma (Louisa's dad's mom) Marie (her sister) and Leanne (her
    aunt.) I was grateful to have been able to get a free covid test
    in Rostock the day before, so I wasn't worried about infecting any
    of these people as I hugged them all.
  </p>

  <p>
    It was a pretty relaxed day of catching up, attempting to help Oma
    in the kitchen as she prepared the elaborate feast, and getting a
    bit dressed up for the big dinner that evening. In Germany the
    main celebration takes place on the 24th, or Heiligabend (holy
    evening) which is also when gifts are exchanged, after dinner.
    There was a bit of a sad atmosphere, given that Opa (Louisa's
    Grandpa) had died a week or two before, so he was certainly
    missed. We still managed to be quite cheerful though, which is
    what he would have wanted, I'm sure.
  </p>

  <figure>
    <a href="img/01.jpg">
      <img
        src="img/thumbs/01.jpg"
        alt="Christmas eve with three generations of Kaiser ladies"
      />
    </a>

    <figcaption>From left to right we have Marie, Oma, Louisa, me and Leanne</figcaption>
  </figure>

  <p>
    Louisa's dad, his girlfriend and three teenage kids showed up
    shortly before dinner, so the small house felt quite cozy and
    festive with all the visitors. We tucked into the delicious feast,
    which featured two kinds of meat options for the carnivores, and a
    deliciously buttery vegetable pie for the veggies Hans (Louisa's
    dad) and I. We had to take a digestion break before diving into
    Louisa's delectable tiramisu and the <em>mountain</em> of
    Christmas cookies. I was glad that my peanut butter balls were
    enjoyed too.
  </p>

  <p>
    After the meal was done and the dishes had been cleared away, we
    got ready for Schrott Wichteln, which is basically the German
    version of White Elephant. Everyone had brought a wrapped
    "present" I say that in quotes because Schrott means junk
    essentially, so I had been instructed to wrap up something old I
    had lying around the house, rather than buying something new to
    gift. The way the game works is everyone puts their presents in
    the middle of the table, and a die is rolled, the number
    determining how many times you have to pass around the present you
    pick from the middle.
  </p>

  <p>
    A 3 meant the passing direction reversed, and a 6 meant you got to
    trade with someone. After a while we picked a new number that
    meant you got to open the gift you had in front of you, so it
    became more clear which ones were worth stealing. The quality of
    gift ranged from a cheap plastic Rubik's cube that barely turned
    and had emojis on it rather than colors, to the quite cool
    homemade jenga game that Hans contributed. There was also a
    Bierstein, a box of little wooden figurines, a beach-themed snow
    globe (I ended up with that) and a few books, including the one I
    brought that I had found in the paper recycling in Rostock and
    felt compelled to rescue.
  </p>

  <p>
    It was a fun game that provided some festive gift unwrapping
    possibility without the sometimes stressful process of finding the
    perfect gift for everyone, since they had agreed to not get each
    other presents and just focus on being together. This worked
    except in Oma's case, since she still got everyone a little
    something. It can be hard for grandmas to resist getting people
    presents, I guess. I got a cute little heart-shaped decoration and
    a crocheted ornament that was remarkably similar to the gnome I
    had knitted for her, and now hung on her mini tabletop tree.
  </p>

  <p>
    Eventually the locals headed out and Louisa and I went across the
    street to the neighbor's house where she had kindly offered to let
    us sleep on her pull-out couch. There wasn't much room at Oma's
    house, so just Marie slept there. Louisa and I eventually settled
    down, after a good bit of giggling about the porcelain dolls
    watching over us from the back of the couch, hoping that we were
    not concussed by one of them falling, or by standing up and
    braining ourselves on the low-hanging light fixture…We survived
    the night, don't worry.
  </p>

  <figure>
    <a href="img/02.jpg">
      <img
        src="img/thumbs/02.jpg"
        alt="The neighbor's couch/doll collection…"
      />
    </a>

    <figcaption>I just feel like a shelf would have been a better place for that menagerie…</figcaption>
  </figure>

  <p>
    We woke up on the 25th and did our best to reassemble the couch
    into its original configuration. We headed back across to Oma's,
    carrying our bedding and wearing a strange combination of pajamas,
    boots and coats. Hans joined us for a nice relaxing breakfast, and
    we enjoyed the festive look of the snow fluttering past the
    windows. Luckily the roads weren't slippery when we eventually
    packed up, said our goodbyes and headed for Pforzheim and our
    raclette dinner with Christine and Jean-Yves.
  </p>

  <p>
    It was great to see my "German parents" once again, and to see the
    completed kitchen remodel. Adam and I had just seen an empty room
    with heated floors when we had been there in October, so it was
    impressive to see it all finished, complete with remote controlled
    colored lights in the ceiling molding!
  </p>

  <p>
    I snuck up to the bedroom that had formerly been the kitchen to
    hop on the Buche family zoom Christmas call. It was nice to
    check-in with the family, and Jean-Yves delivered an aperol spritz
    for me to sip while I chatted, which was lovely too. Louisa joined
    me for a bit to catch up with her US family as well, but was not
    quite prepared for the noisy digital chaos of a Buche family zoom
    call. It is a lot for the uninitiated to take in. There was
    breakfast in matching pajamas, gift opening and oh so much
    simultaneous talking (and this was before Grandma even joined!) It
    was a nice full circle though, since she had spent Christmas with
    all of them in Waukegan 10 years ago, and there I was spending it
    with <em>her</em> family in Pforzheim a decade later. Christine
    and then Jean-Yves stuck their heads in to say hi as well.
  </p>

  <p>
    The technical challenge of getting Grandma online (inevitably
    involving multiple phone calls to multiple aunts and uncles) was
    eventually achieved. I stayed on a bit longer, but then wished
    everyone a Frohe Weinachten and headed down to the Kaiser-Coly
    kitchen. I had missed most of the raclette prep work, but was in
    time for a hot mug of Marie's friend's homemade white Glühwein. I
    also got to meet Marie's boyfriend as he was joining us for
    dinner, which was nice.
  </p>

  <p>
    As a Wisconsin girl I love a good cheese-based meal, and the DIY
    nature of raclette is always sort of fun and creative too. I think
    I like it for a similar reason that I enjoy a traditional German
    breakfast: you get to carefully craft each batch you eat with
    different ingredients. Since my parents spent so long in Germany,
    I was familiar with the basics of the meal (we had it last year
    for our tiny lockdown Christmas in fact) but they stepped things
    up a bit, I must say. Some ingredients were the same, of course,
    like the potatoes, cornichon pickles, olives, salami and of course
    the raclette itself. The Kaisers added to this some sweet corn,
    mushrooms, pickled and fresh bell peppers, salmon, cherry
    tomatoes, artichoke hearts and even pineapple! We had some salad,
    and being German, there also had to be at least <em>some</em> bread
    too. It's so fun to concoct the cheesy goodness in your little
    pan, then slip it under the grill and sip some wine as you wait
    for it to get bubbly and browned and delicious.
  </p>

  <figure>
    <a href="img/03.jpg">
      <img
        src="img/thumbs/03.jpg"
        alt="Louisa's mom's family at the dinner table eating raclette"
      />
    </a>

    <figcaption>Marie, Kevin, Jean-Yves, Me, Louisa and Christine,
    with Stella chillin' under the table</figcaption>
  </figure>

  <p>
    It was quite late and we were quite full by the time the dishes
    were cleared away. We headed back to Louisa's that night, where we
    went to bed shortly after arriving. Ever the determinedly generous
    host, Louisa insisted on sleeping on the couch and giving me her
    bed.
  </p>

  <p>
    The next day was decadently lazy: filled with knitting (for me)
    and watching movies, doing face masks and chatting with just
    Louisa. I mean when you start the day with leftover tiramisu for
    breakfast you know it's gonna be a good day. We did manage to
    leave the house for a short stroll on the path near her apartment,
    so we got a bit of fresh air and exercise, but it was a great
    introvert recharge day for both of us I think. We were together
    but did't have to be actively socializing, and could just hangout
    in the same space.
  </p>

  <p>
    On the 27th, we stopped at a pharmacy where I picked up a box of
    covid tests, and I took one before Louisa dropped me off at the
    Karlsruhe Hauptbahnhof on her way to her Opa's small funeral. With
    my negative test results texted to Mara and Maggie, and one last
    big hug and my condolences for Oma and everyone else, I boarded
    the train to Bonn.
  </p>


  <p>
    On the train I discovered that if you tip your chin down just
    right, your mask can cover your nose mouth <em>and</em> closed
    eyes, and provide a nice dark nap sanctuary, which I took
    advantage of. Before long, I arrived in Bonn, where Mara was
    waiting for me on the platform. We meandered our way past the cute
    old Rathaus (city hall) the under-construction castle and the main
    shopping streets before dropping off my suitcase and backpack in
    her mom's car and heading to a cafe for a quick coffee before
    meeting Maggie back at the station.
  </p>

  <p>
    The three of us then wandered over to a park with a lookout over
    the lovely Rhein river. Mara then produced her homemade marble
    cake and delicious sandwiches from her backpack to enjoy along
    with the view. Next, we headed to a Bonn landmark and favorite
    haunt of Mara's: the HARIBO outlet store.
  </p>

  <p>
    For the uninitiated, HARIBO is a German gummy bear company that (I
    just learned) was founded by a man named HAns RIegel in BOnn,
    hence the acronym. So unbeknownst to me, I was visiting the very
    birthplace of the now world-famous and 102 year old gummy bear
    company. Their well-know jingle goes "HARIBO macht Kinder froh,
    und Erwachsene ebenso!" which translated means "HARIBO makes kids
    happy, and adults too!" which was really true in Mara's case. It
    was very fun to become the kid in a candy store though, I must
    admit.
  </p>

  <p>
    We loaded up from the self-serve section, so I ended up with
    everything from shockingly sour melon-wedges to blueberry-flavored
    "ropes" and even some butterscotch hard candies mixed in! After
    buying some souvenirs, exploring the gummy fruit mosaics, and the
    various bear puns incorporated into their signage, I brought my
    mountain of sugar up to check out, shoving my pockets and Maggie's
    backpack with the candy. Maggie didn't go quite as wild as Mara
    and I, but only because she had her eye on the Lindt chocolate
    store across the street…
  </p>

  <figure>
    <a href="img/04.jpg">
      <img
        src="img/thumbs/04.jpg"
        alt="HARIBO store self-serve section and gummy murals"
      />
    </a>

    <figcaption>You have to admire the artistic twist of the decadent sugar-athon</figcaption>
  </figure>

  <p>
    After purchasing almost as much chocolate as gummy bears, we
    headed back to Mara's childhood home, where, after a rather
    lengthy walk around the neighborhood, we made a giant salad to eat
    with some potatoes for dinner with Mara's mom. We had some lovely
    discussion both on the walk and during dinner, covering everything
    from the need for introverts to have some post-socializing
    recovery time, to feminism to relationships to travel to stress.
  </p>

  <p>
    After dinner, we headed up to the sitting room and proceeded to
    re-learn the rules to "Bohnanza" the bean game that Adam and I had
    played with Louisa, and that Maggie and I had gotten as a hostess
    gift for Mara the game-lover. It took us a while to decipher the
    rules, but eventually we got the hang of it and had a nice time
    cultivating and trading cartoon legumes…as you do.
  </p>

  <p>
    The next morning we woke up slowly (ok, Mara and I did, Maggie
    went on an early morning run, obviously) then we went on another
    daylight walk around Bonn, and managed to avoid the rain almost
    entirely. I do think strolling around is one of my favorite ways
    to both explore a new city and also hangout with friends, since
    you feel like you are doing/seeing something but still have the
    quiet needed for discussions. We saw a lovely old church along our
    rambling way, and stopped off at a cute little cafe to avoid the
    rain too.
  </p>

  <p>
    That evening we went to Köln (known in English as "Cologne," which
    I somehow am only now realizing is where the word for that kind of
    perfume originated, since English speakers struggle to pronounce
    the umlauted O I guess.) Anyway, Köln is not far away so we got a
    fascinating insight into teenage Mara as we sampled her
    middle/high school mix CDs on the drive to meet up with a couple
    of her friends for dinner.
  </p>

  <p>
    After striking out at a couple of places, we eventually got
    ourselves in out of the rain at this delicious felafel restaurant.
    We were served complimentary cinnamon tea and mini baklava (I mean
    that's a 10 star review from me right there) and the food we
    actually ordered definitely elicited my involuntary "happy food
    dance" as I tasted the many delicacies on the platter. They also
    had a hand-crank cash register that still said "Mark" and
    "Pfennig" on it, so was clearly from the pre-Euro days, which was
    sort of a fun relic.
  </p>

  <p>
    Because of my Mrs. Gulch impersonation on Mara's bike during
    Maggie and my bike tour through Hamburg, we had to make sure to
    watch "The Wizard of Oz" at some point on the trip. The relatively
    early dinner meant we were back in time to dive in. It was funny
    to realize just how integral that movie is to the culture&mdash;how
    many references there are to it, aside from me on a bike as Mrs.
    Gulch, of course. "We're not in Kansas anymore Toto" anytime
    someone is out of their depth, or "Pay no attention to the man
    behind the curtain" when things are being badly hidden, or
    abilities exaggerated and even "Oh my!" added to the end of a list
    of three things, like in the "lions and tigers and bears&mdash;oh my!"
    song. It had been years since I'd seen the movie so it was a fun
    rewatch, especially through Mara's fresh eyes.
  </p>

  <p>
    The next morning Maggie and I were up and hiking before the sun
    had risen, using Maggie's headlamp for the first stretch of the
    journey. We had, after all, 7 "peaks" to do that day, so we had to
    start early to make use of the limited daylight available so few
    days after the solstice. The Siebengebirge are really more like
    bluffs, rather than mountains, especially compared with the Alps,
    which was the last place Maggie and I had really hiked together.
    That didn't mean I didn't lag far behind her and have blisters by
    the end of the day, but it was still nothing like the soreness
    post-Austrian Alpine hike.
  </p>

  <figure>
    <a href="img/05.jpg">
      <img
        src="img/thumbs/05.jpg"
        alt="Maggie and Kate in the foreground, the lookout from Löwenburg castle in the background"
      />
    </a>

    <figcaption>One of the many lovely views</figcaption>
  </figure>

  <p>
    The hike was really nice, but this is definitely a case of a
    picture being worth a 1000 words, because I find myself without
    much to say. The views were lovely. There was a spa on top of one
    of the mountains, and castle ruins on two others. It didn't rain
    until we were back down on the streets (another reason we had set
    out so early.) So yah, just go look at the pictures, really:
    <a href="https://photos.app.goo.gl/jqhd8qPvYxRXfCrk8">https://photos.app.goo.gl/jqhd8qPvYxRXfCrk8</a>
  </p>

  <p>
    Mara hadn't accompanied us, since she was off visiting her cousin
    that day, so Maggie and I met up with her later that evening after
    a nap for Kate (we had been up later than intended chatting, since
    it felt like it was one big sleepover) and a call with a friend
    back home for Maggie.
  </p>

  <p>
    Our dinner-prep playlist was early 2000s nostalgic dance songs,
    and since we played a quieter version of this throughout the meal,
    dinner cleanup quickly devolved into a full-on dance party when we
    turned the volume back up. Part of me really misses the ritual of
    getting dressed up and going out dancing, but on the other hand,
    there's also something wonderful about dancing your heart out in
    the living room in a T-shirt and leggings too. Because there's no
    pressure. You aren't worried about how you look because you aren't
    even in public, and you can just focus on getting lost in the
    rhythm and wiggling around as goofy as can be.
  </p>

  <p>
    I mentioned how relaxing it was to not have to fend-off over-eager
    men who can't seem to interpret a group of ladies dancing as
    anything but a plea to be asked to partner up. Perhaps some groups
    of women <em>are</em> pleading for that, but for me I enjoy
    dancing in groups of friends infinitely more than with a partner.
    Perhaps it's because I am quite a spontaneous dancer and therefore
    a terrible follower. Maybe it's also a result of years of having
    to dance the boys part in summer camp folk dances, because there
    were never enough boys to pair up…Whatever the reason, I prefer
    to dance individually but as part of a loose circle of friends
    rather than as a couple. Maggie said how she has seen a trend
    online of women who just start barking like a dog if they get
    unwanted attention at clubs. Pretty genius. We started
    brainstorming other animal imitations we could do to ward off
    people we didn't want to talk to. My favorite was the
    playing-dead-possum. What a fantastic way to finish off our last
    night together.
  </p>

  <p>
    We really only had time for a brief stroll through the park the
    next morning before I had to take a quick covid test and get back
    on the train for Frankfurt. The only real eventful thing there was
    the man who began loudly swearing and yell-complaining when the
    controller came through and asked to see his vaccine card, test
    result or doctor's note of covid recovery (on of which you need to
    be on the train.) I didn't see if the guy ultimately got kicked
    off the train or not, but I eventually made it safely to
    Frankfurt.
  </p>

  <p>
    I was met on the platform with a big hug from Selina, one of my
    college roommates and her now official fiancé Tino, another
    Earlhamite. We navigated our way out of the busy station and to
    the almost equally busy Indian restaurant nearby, where we had
    plenty of time to catch-up, since the poor waitstaff couldn't even
    take our order for quite a while, since they were running around
    seating more and more people.
  </p>

  <p>
    We tried to explain the complicated German school system to Tino,
    I heard about their recent Berlin trip, and they asked about all
    of my holiday travels and how I liked Rostock, and eventually our
    food did indeed come. Getting the bill was a similarly long
    process, but eventually we made it out of the restaurant and
    headed back to the Hauptbahnhof to catch the S-Bahn to
    Kelsterbach, where Selina actually lives.
  </p>

  <p>
    We got on the wrong train initially (see it's not <em>just</em> me
    who makes these kinds of mistakes!) we got off and corrected
    course only one stop farther, and made it back to her house before
    too late, even though it was quite dark by then.
  </p>

  <p>
    Selina and I set out for the grocery store a bit later, to get the
    ingredients we would need for tomorrow's raclette. I had to remind
    her several times that I am from Wisconsin, and will take every
    opportunity to eat a cheese-based meal, so having raclette twice
    in a week was definitely a treat and not a chore in my book! We
    were able to find everything we needed for the raclette toppings
    as well as the ingredients for homemade Glühwein and even the
    salt-crystal butter that we hadn't been able to find in Paris!
    It's always amazing to me how even something as mundane as a
    grocery run can become so fun if you're with a good friend,
    especially one you haven't seen in too long.
  </p>

  <p>
    I got to hear the story of how she got her lovely engagement ring,
    and just get all the other little life-updates that are so hard to
    do across timezones and through screens. When we got home, we got
    to work juicing and slicing oranges, and spicing and heating the
    wine. Her mom her and I were all satisfied with the final result
    and mugs were then delivered to Tino and her dad who were very
    much glued to the soccer game on in the other room.
  </p>

  <p>
    I believe this was the night we also baked the scrumptious
    chocolate-chunk shortbread with a light sprinkle of the big salt
    crystals on top. Who needs a normal dinner when you can have wine
    and cookies?! It's always fun to finally be in a place you have
    been hearing about for years too. Even since we moved in together
    in our first year at Earlham, we had been talking about how
    someday I would come visit her in Germany, and it was hard to
    believe it was happening at last, seven years later.
  </p>

  <p>
    Selina, Tino and I set out for Heidelberg the next morning, to
    visit Gabi, a coworker of Tino's from DC, whose parents live there
    right now. Selina drove us there using her newly acquired license,
    and expertly navigated the autobahn, while Tino took charge of the
    playlist. This left me free to sit back and watch the countryside
    go by&mdash;enjoying the more hilly topography compared to northern
    Germany.
  </p>

  <p>
    We arrived and Selina decided to let Gabi's dad back the car into
    the impossibly tight garage space, before we headed up to their
    beautifully spacious apartment in the Heidelberg Altstadt. The
    large windows and the private rooftop terrace both afforded a view
    of the famous castle, which we admired while eating a light pizza
    lunch (mindful of the gigantic raclette feast in our future.)
    After lunch we set out towards the castle.
  </p>

  <p>
    Gabi was very keen to talk to Selina about all the wedding
    planning and proposal details, so they went on ahead which left
    Tino and I to chat at we walked up the large hill to the castle.
    It was quite nice to get to talk to him, since I realized that
    even though we graduated in the same year at Earlham (not what you
    could call a very big school) I hadn't really had many in-depth
    conversations with him, since we had pretty different friend
    circles. Also I had mostly hung out with him with Selina, and her
    and I had evidently been busy gabbing amongst ourselves, and since
    he tends to be on the quieter side anyway, was happy to let us. So
    we talked about family and Earlham friends and DC and future plans
    as we strolled through the charming city.
  </p>

  <p>
    My two American parents actually met in Heidelberg, so I had grown
    up hearing storied about the city and the castle specifically, but
    despite my two previous stays in Germany, I had never been. The
    castle was much larger and more impressive than I expected. We
    didn't actually go inside, because we would have needed tests in
    addition to our vaccine cards, so we just admired the view of the
    river winding through town, and the ruins themselves before
    wandering back down the hill to one of the many the bridges.
  </p>

  <figure>
    <a href="img/06.jpg">
      <img
        src="img/thumbs/06.jpg"
        alt="Selina and Kate in the foreground, Heidelberg and the Neckar river in the background"
      />
    </a>

    <figcaption>Roomies reunited after several years apart. If only we
    had Nikita the three musketeers would have been complete!</figcaption>
  </figure>

  <p>
    The Karl-Theodore bridge (better known just as "old bridge"
    apparently) offered a lovely view of the Altstadt from across the
    sparkling Neckar river, as the sun sunk low in the clear blue sky.
    We had a lovely view up to the castle from there as well. We
    decided daylight wouldn't permit us to explore the Philosopher's
    Way on the far side of the river this time, so her headed back
    into town. Perhaps since she was caught up in the romance of Tino
    and Selina's proposal, Gabi encouraged me to ask my parents where <em>exactly</em> they
    had first met. So having gotten texted confirmation from them
    both, we headed for the Stadthalle.
  </p>

  <p>
    Unfortunately the building was under construction, so we couldn't
    get very close, blocked off as it was, but I was able to stick my
    phone through the fence and at least get a picture of the place
    that started the story that would eventually lead to my existence.
    I think my parents have probably the cutest "meet-cute" story I
    have ever heard outside of an actual rom-com. They had run into
    each other before, since the American military community in
    Heidelberg isn't all that big, but the time that "it stuck" as my
    mom says, was at a Fasching costume ball held at the Stadthalle.
  </p>

  <p>
    He was dressed as a bug, and she as the wind, because of course
    she was&mdash;if you know my mom this makes total sense that the future
    art teacher would have made a costume this quirky and creative.
    They met in the salsa room, so the story goes. Unlike their
    daughter they did enjoy dancing as a couple so much so that the
    groups of friends they had each come with moved on to other floors
    with other music genres and left them to dance the night away. At
    the end of the evening, they knew they wanted to meet up again,
    but didn't have any paper to exchange phone numbers. And it was
    the '90s, so no cell phones either, obviously. So they ripped a 10
    Deutschmark bill in half and wrote their numbers on the pieces so
    they could stay in touch. It's still framed in their bedroom.
  </p>

  <p>
    Tino, Selina and Gabi were suitably impressed with the story, and
    with that we headed back towards her parents' apartment. We
    stopped on the way to get a pastry called a "Snowball" which
    wasn't nearly as tasty as it looked, unfortunately, so good thing
    we only got one to share! After some dog-petting and more
    chatting, we said our goodbyes to Gabi's family and drove back to
    Kelsterbach.
  </p>

  <p>
    After much preparation of grill, toppings and dishes, we were
    ready for the cheese-athon to begin. It was Tino's first raclette
    experience, and he preformed admirably, despite his lukewarm
    feelings towards cheese in general. We had a nice time and I
    particularly enjoyed the sweet-savory combo of grape pineapple
    raclette (don't knock it till you try it!)
  </p>

  <p>
    After no more dairy could be ingested and dinner was cleaned up,
    we played a German version of Yahtzee. Since Selina's dad doesn't
    speak much English and Tino has even less German, it was an
    interesting bilingual affair, which reminded me of playing Mäxle
    with both Adam and Jean-Yves. It was also funny to really speak
    German with Selina for the first time ever. The only other time we
    had really talked in her language was when I enlisted her help to
    unearth my German from beneath the deep layer of Spanish that had
    buried it after I got back from my semester in Ecuador. The
    problem was, I kept inserting random Spanish words in the middle
    of a German sentence without realizing it, so effort quickly
    devolved into giggles. Also our whole relationship had taken place
    in the US up to that point, and in an effort not to exclude other
    friends, we had only really spoken English with each other. Now,
    "Denglish" reigned, as we switched back and forth between
    languages even within the same sentence, to try and bring both
    Tino and her dad along in the conversation.
  </p>

  <p>
    We barely finished our second game by the time it was midnight, so
    we quickly put on coats and shoved our feet into boots and headed
    outside to ring in the new year with the neighbors in their little
    compound area. Glasses of champagne were thrust at us, and "Prost
    Neues" was mumbled through chilly lips over and over as we
    cheers-ed all the people gathered outside.
  </p>

  <p>
    The Germans really do <em>ring</em> in the new year, quite
    literally with at least 15 minutes of constant church-bell
    tolling. I was also pleasantly surprised to see fireworks popping
    off on all sides, which I had not been expecting. In an effort to
    avoid large covid-unsafe gatherings, the sale of new fireworks in
    Germany was prohibited leading up to the holiday, but one could
    import them or light off a previous year's leftovers, apparently,
    and people certainly did. I hadn't been expecting any fireworks
    from the Germans at all, being such rule-followers so I was
    thrilled and overwhelmed as I kept turning around and around in a
    circle, trying to catch all the colorful bursts. Selina assured me
    it is normally at least 10 times more crowded and full of
    pyrotechnics on a normal year, but it certainly surpassed my
    expectations!
  </p>

  <figure>
    <a href="img/07.jpg">
      <img
        src="img/thumbs/07.jpg"
        alt="Fireworks over Kelsterbach"
      />
    </a>

    <figcaption>It was a surprisingly normal New Years, despite everything</figcaption>
  </figure>

  <p>
    Some more champagne and childhood stories about Selina from her
    mom and we headed to bed. Selina and Tino had to get up early to
    get his covid test taken care of, so he would be able to get back
    in the US the day after, on the 2nd. I slept right through them
    sneaking out past my couch bed the next morning, and then woke up
    only enough to roll over as they snuck back to bed afterwards. We
    had an extra late breakfast because Tino was locked in a
    determined ping-pong battle with his future father-in-law in the
    courtyard. Sports need no language I guess!
  </p>

  <p>
    We did eventually get ourselves some breakfast and dressed enough
    to go on an afternoon stroll along the lovely Main river. The
    evening brought yet more baking (marble cake and garlic parmesan
    bites with homemade pizza dough) and a little kitchen movie night.
    I said my goodbye to Tino that night before bed, because his
    flight was super early, and I wouldn't be going along to the
    airport.
  </p>

  <p>
    He was gone therefore, when I woke up the morning of the 2nd, so
    Selina and I just had a long morning of chai and chatting as we
    continued to update each other on everything we had missed since
    last being together. We never really left the couch until it was
    time to pack up my things and head back to the Frankfurt
    Hauptbahnhof and home.
  </p>

  <p>
    The train ride was uneventful, but just a lot longer than I would
    have preferred. I finally made it home after 10 pm, and I was
    thrilled to find that not only was Maggie waiting for me, she had
    also made curry I could reheat and have as a very late (I like to
    think of it as Spanish style) dinner. Why, you might wander, was
    Maggie visiting my empty house? Precisely because it <em>was</em> empty,
    rather than occupied by her roommates long term guest/maybe almost
    boyfriend? So she had taken advantage of the peace and quiet of
    the empty apartment and spent New Years at my place while I was at
    Selina's.
  </p>

  <p>
    It really was a nice symbiotic arrangement, because she got some
    introvert time, and I got a real meal when I got home and some
    company for the next few days. I utilized this right away by
    making her listen to my presentation on segregation and Jim Crow
    that I had to give the next day, and getting her feedback. The
    class went quite well, although some of it might have gone over
    the 8th graders heads a bit…
  </p>

  <p>
    Maggie joined me for the Rostock Fulbrighters' weekly craft night
    that Monday evening, and got to meet Amber and Kurt, who hosted,
    as well as Karis. We had to leave not long after eating the yummy
    curry Amber had made, because we needed to pick Mara up from the
    Rostock Hauptbahnhof. She had decided to join us, since their
    school didn't start up again until that Wednesday, so there was
    time to squeeze in one last adventure before break was over.
  </p>

  <p>
    We made it back to my apartment once again, changed into PJs, and
    made popcorn. This turned out to further confirm that Maggie and I
    have very similar tastes, since she liked my
    sriracha-soy-sauce-garlic-powder-butter-popcorn. Mara however,
    opted for just the salt and butter option, declaring she liked
    that better than the traditional sugared popcorn of the Vaterland.
    She declined the invitation to engage in the funkiness of
    Kate-style popcorn because she isn't a garlic fan (how can someone
    not like cheese <em>or</em> garlic you ask? It baffled me too…)
    We then utilized Maggie's Disney+ account to watch "Hamilton"
    which I had never seen, but knew a lot of the music from.
  </p>

  <p>
    I had the next day off, so we were able to explore the Altstadt
    and harbor a bit, despite the slightly rainy windy day. We had a
    nice pasta/pizza lunch in a nearly empty restaurant, combining our
    leftovers into a surprisingly sturdy to-go container that I have
    already re-used twice. Mara and I then ducked into H&M to kill
    some time and get out of the rain while Maggie went back to grab
    her stuff from the house before heading to the Hauptbahnhof. Mara
    said she can't really shop at H&M in Hamburg because it's a bit
    too awkward to run into her students, so we took some time to
    browse around and giggle at the absurd and/or uncomfortably
    "trendy" clothes. We saw some partly -fuzzy-and-partly-smooth
    pants that Mara remarked "Look like a sheep is being erased" it
    was an accurate description that definitely made me chortle.
  </p>

  <figure>
    <a href="img/08.jpg">
      <img
        src="img/thumbs/08.jpg"
        alt="Kate Maggie and Mara by some colorful bricks by the harbor"
      />
    </a>

    <figcaption>Me with Maggie and Mara by the Rostock Harbor</figcaption>
  </figure>

  <p>
    Before long, we met back up with Maggie at the train station, and
    they embarked on their Hamburg-bound train, with many promises of
    future adventures to come in this New Year. I wended my way home,
    sad to see them go, but happy for a little introvert time of my
    own too.
  </p>
</article>
{{end}}
