{{define "content"}}
<article class="blog-post">
  <h1>I Guess I Live Here Now</h1>
  <time datetime="2017-06-24">June 24, 2017</time>

  <p>
    This week my new Berlin normalcy has set in a little more, so fear
    not, this post will be far shorter than the last one.
  </p>

  <p>
    The highlight of <strong>Monday</strong> was eating roasted
    eggplant and red peppers with Ayse AND LIKING IT (as some of you
    are well aware, I have traditionally had a very LOW tolerance for
    red peppers…) This time was different because of Ayse's
    kitchen-goddess ways, to be sure, but also due to the fact that
    they were a slightly different pepper variety, and most
    importantly, to due to the large amounts of garlic-tahini-yogurt
    sauce that I smothered the whole thing with… Anyway—it was
    somewhat of a culinary landmark for me.
  </p>

  <p>
    <strong>Tuesday</strong> I was too lazy to pack a lunch, so I ate
    a delicious falafel pita with Oliver and our Brazilian classmate
    (whose name I am not even gonna try and spell…) which was a nice
    way to switch things up. The real adventure was after work
    however, when I decided to go shopping…'Grocery shopping and
    adventure, that might be stretching things a bit Kate,' you might
    be thinking. Normally I would agree with you, but in this case,
    the whole affair was actually quite the journey.
  </p>

  <p>
    As I mentioned before, I believe, google maps has become a near
    and dear friend of mine since getting here, so I typed in Aldi,
    thinking it wouldn't let me down, and would send me to the closest
    one. This turned out to be the crucial false step. The actual
    getting there was really no problem—so I guess google maps did its
    job, and I really should have just asked Ayse (as she scolded me
    for not doing later…) where the nearest supermarket is. Anyway,
    fast forward to me trekking across a whole neighborhood for about
    20 minutes, loaded up with a backpack mostly filled with an "it
    was on sale and I couldn't resit watermelon" more carrots than I
    really needed, some tomatoes and various other random items…I got
    my exercise for the day in anyway!
  </p>

  <p>
    I eventually got home (stopping on the way to buy some green
    plantains from a tiny international store) and I finally cooked
    some Ecuadorian (ok, actually the recipe was Colombian, but they
    are pretty close) soup for Ayse, which she approved of, so it was
    worth it. We are still working on that watermelon…
  </p>

  <p>
    <strong>Wednesday's</strong> highlight was getting to visit
    another satellite office of the RAA Berlin in a different part of
    the city, where I heard about that specific project. The focus of
    that team is working as mediators between newly arrived (mostly
    from Bulgaria and Romania) immigrant families and Kindergartens,
    as well as landlords. Since these peoplen do not always speak
    German when they first get here, and there are a limited number of
    kindergarten spots in the city, the RAA mediators work with the
    kindergartens to help insure that these families (often with many
    children) have access to this free childcare, which is also a
    critical time for the kids to learn German before starting first
    grade. This office also works to help these families find housing,
    since they might otherwise be sleeping in one of the many parks.
    It was super informative and interesting to hear from the people
    on the ground doing this work what it is like.
  </p>

  <p>
    <strong>Thursday</strong> I made the valuable discovery that the
    bakery around the corner from the language school sells Bretzels
    for €0,50 (the Germans use the coma like we use the period when it
    comes to numbers, which took me a long time to figure out last
    time I was here…)
  </p>

  <p>
    At work, I sat in on a planning meeting for the conference, where
    we ran through the program, which helped give me a sense of what
    it will be like on the actual day.
  </p>

  <p>
    <strong>Friday</strong> I upgraded my original Bretzel to a
    Käsebretzel for only €0,25 extra (obviously worth it!) and this
    has since become a nearly constant staple of the half hour "Pause"
    during class.
  </p>

  <p>
    I had a short day of work, since I met a different colleague at a
    Jewish school in the neighborhood, where RAA supports an after
    school program. It was a very relaxed visit, really just a
    check-in over some herbal tea about how things are going, and if
    they need any support. It was interesting to get out of the office
    again though, and I got to learn a little bit about what they do
    at that site.
  </p>

  <p>
    I was thus headed home much earlier than normal, and spent a very
    relaxing evening watching a cheesy German teen show (I think it
    might also be from the late 90s-early 00s…"Türkisch für Anfänger")
    and then making pasta for dinner. We then made German Pfannkuchen
    (think creps) when Ayse got back from work and decided she had a
    craving for them. It was all very delicious and a lovely way to
    end the workweek.
  </p>

  <p>
    <strong>Saturday</strong> started with a deliciously lazy morning,
    in which I ate some watermelon in the traditional Turkish fashion
    (according to Ayse anyway) this includes putting soft white cheese
    on it, and eating it with bread (I substituted bread for
    yesterday's Pfankuchen this time)
  </p>

  <p>
    I eventually motivated myself enough to go on my weekly climbing
    adventure. The gym was lovely-right on the Spree river, with only
    bouldering. They had some fun routs where you could top out and
    climb right over the wall and directly onto a couch on the second
    floor—they know what's up.
  </p>

  <p>
    By the time I go home, Ayse was back from work, and suggested we
    go to "Little Tibet" for dinner. I had some delicious spinach and
    cheese momos, and she got her usual duck dish. We then went and
    had cocktails as we chatted at the outside seating of a nearby
    restaurant.
  </p>

  <p>
    <strong>Sunday</strong> I finally ended up meeting up with Ryan
    Woodgate, the son of old friends of my parents (my only
    interaction with this kid before this was playing frisbee in his
    paren't backyard when we visited his family in high school). He is
    doing his masters here, but also went to high school here, and
    upon having an actual conversation with him, it turns out he is
    very nice! We had a good time walking through Victoria Park and
    chatting. We compared notes on college (Edinburgh is a little
    different than Richmond Indiana it turns out…) and tried to figure
    out the chronology of when exactly our parents even met, and when
    each of our families moved where, among other things. It was nice
    to connect with new person and get some Berlin recommendations as
    I enjoyed the weekend sunshine.
  </p>

  <p>
    As I was a block away from home, I met Ayse, and turned around to
    go with her to relax in another park. I had just been thinking
    about what a shame it would be to go inside on such a lovely day,
    so it was a good…Zufall…wow, I actually just had to translate that
    word from German into English, since I really couldn't think of it
    (it's "coincidence" in this language, if you were wondering)
  </p>

  <p>
    After a couple more hours of sunshine, I made it back for a quick
    father's day chat with my daddy-o (and the rest of the fam).
    Eventually I made some dinner and Ayse told me all about her trip
    to Turkey last year to visit her older sisters, who she hadn't
    seen since she left Turkey, when she was 10!
  </p>

  <p>
    The evening would have ended calmly, as the day had been, except
    for the loud dripping noise I heard in my room, as soon as I
    turned off the light…Apparently the neighbor's have a problem with
    one of their pipes upstairs…still. Ayse way NOT amused with the
    situation, since this is the 3ed time this room has become a bit
    of a shower in the last couple years…Despite the excitement and
    delayed sleep, Monday morning came right on time, as it always
    seems to do.
  </p>

  <h2>Photos</h2>
  <figure>
    <a href="img/IMG_4805.jpg">
      <img
        src="img/thumbs/IMG_4805.jpg"
        alt="Climbing wall tops-out to a lounge with couches"
      />
    </a>

    <figcaption>This is where you get to climb up and over onto the couch.</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_4806.jpg">
      <img
        src="img/thumbs/IMG_4806.jpg"
        alt="View of climbing gym"
      />
    </a>
  </figure>

  <figure>
    <a href="img/IMG_4808.jpg">
      <img
        src="img/thumbs/IMG_4808.jpg"
        alt="Slackline setup across the top of two adjacent climbing walls"
      />
    </a>

    <figcaption>There was even a high slack line!</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_4810.jpg">
      <img
        src="img/thumbs/IMG_4810.jpg"
        alt="Ayse and our fancy cocktails"
      />
    </a>

    <figcaption>Ayse and our fancy cocktails</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_4811.jpg">
      <img
        src="img/thumbs/IMG_4811.jpg"
        alt="View of Berlin skyline"
      />
    </a>
  </figure>


</article>
{{end}}
