{{define "content"}}
<article class="blog-post">
  <h1>Ich Bin In Berlin!!</h1>
  <time datetime="2017-05-30">May 30, 2017</time>

  <p>
    I am back in the Berlin Tegel airport for the second time today,
    which feels like yesterday still, since I haven't slept since I
    woke up at my Grandma's house in Waukegan IL on Tuesday morning at
    7:30 am US time…so forgive the slight incoherence of this first
    post…
  </p>

  <p>
    I guess I should probably tell you what the heck I am doing here,
    right? Introducing myself is probably unnecessary, since if you
    are reading this, it's probably because I sent you the link…
  </p>

  <p>
    I have the privilege of spending June and July working at an
    organization called <a href="https://raa-berlin.de/en/">RAA Berlin</a> where
    I will be doing I'm not really sure what--being an intern, which
    hopefully will mean being as useful as I can to this fabulous
    nonprofit. I applied for and got a $4000 scholarship/grant from
    Earlham to finance this summer, since RAA can't pay me, and then
    the generous German department also pitched in with another grant
    to make this amazing opportunity possible. On the selfish side of
    things, I hope to put my language ability to use as I test it in
    new ways, and get a taste for this kind of organization, and if I
    would want to work at a similar one farther down the road. I will
    also be taking intensive German language classes in the mornings,
    which should help with those language abilities (I have found my
    German coming back so far, and I only occasionally find myself
    slipping a "sí" or "bueno" in the middle of an otherwise German
    sentence…) My secondary goal this summer is to maintain my
    Spanish, while brushing up at bettering my German, so we shall see
    how that goes…
  </p>

  <p>
    My journey here began when my kind uncle (who wants to be called
    Jim, but is usually called Jamie) drove me to the airport for my
    3:30 flight on Tuesday afternoon. As we were leaving the plane at
    the end of the long flight, a woman across the isle from me
    remarked that we had had an uneventful flight, except, her
    boyfriend reminded her, for the guy who fainted in the isle next
    to me…for the second time during the flight (he doesn't know if he
    is diabetic or not…) The fact that my isle seat was right in from
    of the bathrooms meant it was pretty tricky to sleep, so I ended
    up watching 2 movies instead.
  </p>

  <p>
    Once we landed right on time at 7 am local time, it seemed to take
    an eternity for the baggage carousel to spit out the right
    people's bags in the right places, but after some dashing between
    carousels, I eventually picked up my bright blue duffle/backpack.
    Then began the bus and U-Bahn (subway) trek across town to my host
    family's apartment, where I would leave the blue monstrosity. I
    actually made it with no false steps and no lost-getting! What a
    nice change from the adventures of my first days after landing my
    first time in Germany, 5 years ago (Thanks google maps, my better
    German, and my inhibitions about asking random strangers where I
    need to go, and how the ticket kiosks work)
  </p>

  <p>
    I made it to Kreuzberg, and met Ayse, my host mom, who lives in a
    lovely old apartment building in a neat (but apparently pretty
    gentrified…) neighborhood. She is currently hosting another
    Earlham student (Ali Eddy) who is finishing up the Berlin May-Term
    this week. I had some much needed tea and stillness (as well as a
    face wash and tooth brushing) there, before setting out to Tegel
    again. I am now at the gate about to board a flight to Frankfurt,
    where I will get on a train to Darmstadt so I can spend these
    first couple days (while Ali is in my future room) before I start
    working and class next Tuesday, with my dear "sister" Louisa, who
    was my exchange partner in high school. What a whirlwind of
    planes, trains and automobiles (and buses, which don't really fit
    in that saying very well…) it has been, and there is more to come!
  </p>

  <p>
    I'm not sure if my life here will turn out to be very routine and
    uneventful, or thrilling and life-changing, but I will try and
    tell whoever is listening about it once a week or so. Bis dann!
  </p>

</article>
{{end}}
