{{define "content"}}
<article class="blog-post">
  <h1>The Last Berlin Week</h1>
  <time datetime="2017-08-17">August 8, 2017</time>

  <blockquote>
    There are a lot of photos this week so not all of them are
    included here. Check out this link to see them all! <br/>
    <a href="https://goo.gl/photos/V87k4PaHnKZ8AjkL6">https://goo.gl/photos/V87k4PaHnKZ8AjkL6</a>
  </blockquote>

  <p>
    <strong>Monday</strong> (7-17) was a pretty standard day—sunny,
    which was a nice change. I didn't have a lot to do at work, so I
    left early to finally buy that German grammar workbook I had meant
    to get from the beginning. I guess maybe you have to open it every
    once and a while for it to be useful…Maybe I should work on that…
  </p>

  <p>
    Ayse and I hiked up the Kreuzberg (literally "Cross-Hill" ) for
    which the neighborhood is named, in the evening. It is just that,
    a cross on a hill, but it has a beautiful view, and the advantage
    of catching the last rays of evening sun.
  </p>

  <p>
    <strong>Tuesday's</strong> highlight was visiting another project
    at work. After some false starts with an out of service and then a
    late bus, I eventually made it to the project office, not too far
    away from home as it turns out. This was a project that had
    interested me ever since I looked up the RAA website, before I
    even had the internship, so I was very excited to finally meet the
    people, most of whom I had already met at the conference the week
    before, as it turns out, and most of all, to hear about what they
    do.
  </p>

  <p>
    They had a lot of loot for me to look at and take home—an example
    bag that they distribute to new parents through the local family
    centers throughout the neighborhood. There was a variety of
    pamphlets (in many different languages) about the programs they
    offer, as well as some baby books (also in many different
    languages) to encourage reading to children, because it promotes
    literacy. There were books with stories about fathers, to help
    encourage the involvement of both parents in the child's
    upbringing. They even had a spit-up cloth with the Kreuzberg crest
    on it!
  </p>

  <p>
    Once the children are born, the bilingual playgroups and parent
    support groups begin. There is a curriculum that the parents talk
    through in the groups, in their home language, which includes
    activities that they then take home and do with the kids, to
    encourage fluency in multiple areas of the native language, in
    order to build a strong base before they learn German in
    Kindergarten. This program continues with age appropriate
    activities all the way through third grade, with the idea that
    strengthening the native language of children will ultimately aid
    in their fluency in German as well.
  </p>

  <p>
    After leaving the office, Yaari showed Irène and I around the
    neighborhood a bit, since he used to live right there. We walked
    by a community farm complete with mules, sheep, geese and a even
    few pigs, in the middle of Berlin!
  </p>

  <p>
    After a quick stop to buy headphones, I went to one of the many
    lakes around the city, because I simply had to use my bikini at
    least once on that rare sunny day! By the time I got there, the
    sun was already sinking behind the trees, but I was still able to
    jump in the water and then dry off in the sunshine while reading
    my book, which was all I wanted anyway.
  </p>

  <p>
    On <strong>Wednesday</strong>, we took a practice test in class,
    to see if we had a high enough level to study at a German
    University, and I passed. It is just interesting, eve if it is a
    little late for undergrad anyway!
  </p>

  <p>
    I didn't have a lot to do at work, so I was able to leave a bit
    early and go visit the East Gallery, which is a famous section of
    the wall that is still standing, right along the Spree river. It
    was another very sunny day, so after strolling with the other
    tourists for a while, I found my way to an outdoor pool, where I
    was able to cool off a bit, and read my book in the sun some more.
  </p>

  <p>
    <strong>Thursday's</strong> highlight was interviewing my boss
    Irène at work. I always love hearing people's stories, and hers is
    especially interesting for it's surprising similarities to mine.
    The fact that she is exactly 10 years older than me also provides
    an interesting perspective, since her current job is one possible
    answer to the often-asked question "where do you see yourself in
    10 years?" Since her path of study is actually pretty similar to
    mine, I really could see myself in a similar position in 10 years.
  </p>

  <p>
    <strong>Friday's</strong> class was exciting because I had a
    revelation that I don't know how I could have delayed that
    long…but I finally understood that West Berlin was just an island
    of West in a sea of East Germany, if you will. I previously
    thought that everything West of the wall was West Germany…You
    learn something new every day!
  </p>

  <p>
    I interviewed Andrés, the director of the RAA Berlin at work, and
    heard about his colorful life, studies, jobs and got some good
    advice (similar to Irène's from the day before, interestingly). It
    was also eye-opening to see once again the similarities between
    his track of study and mine (he studied comparative language at a
    small liberal arts college…) he has also worked on some
    fascinating projects over the years, so it was neat to hear about
    those as well. I said a sad goodbye to Irène before leaving, since
    she would be on vacation the next week.
  </p>

  <p>
    After work, I headed to Spandau for the last climbing gym on my
    list. It was on the shore of a lake, so after doing some really
    fun routes, I also go to slackline on the beach in the setting
    sun—what better way to start the last weekend in Berlin?
  </p>

  <p>
    On<strong> Saturday</strong> I met Irving back at Nollendorfplatz
    once again, where we joined the swarms of rainbow-clad celebratory
    people on the way to the parade route. We met up with another of
    Irving's friends, and another friend of that friend, acquired some
    beer, and the four of us watched the famous "Christopher Street
    Day Parade" parade! Despite the police's best efforts at
    maintaining order, we joined the general surge to become part of
    the parade, and had a great time dancing along behind various
    floats, getting completely soaked in the process, as it poured
    multiple times along the way. Nothing could dampen the celebratory
    mood however, and people either huddled in jovial (soggy)
    camaraderie under any available shelter, or danced happily through
    the rivers…I mean streets…but the two were beginning to blur
    together. Despite being so wet, we had a great time, and once we
    made it to the end at the Brandenburg Gate, we decided to head
    home (Irving to my house) to dry off.
  </p>

  <p>
    After borrowing the necessary socks and t-shirts to get Irving
    clad in mostly dry garments again, we went with Ayse to her
    preferred "Little Tibet" restaurant, where he could finally get a
    glimpse of this wonderful woman I had been telling him stories
    about for 2 months. The conversation was as stimulating as ever,
    and the food was also delicious. Ayse was thrilled when the boss
    let her take home a mug of her favorite chai in one of their
    in-house mugs (they don't do to-go) we all shared delicious sips
    of it on the short walk home.
  </p>

  <p>
    By the time we got back to the apartment, it was already time to
    go meet up with Irving's friends again. We found them standing
    outside of a bar called "the golden bean" which we puzzled over
    for a while as we chatted outside. Like the Mexican and Venezuelan
    guys we had been hanging out with at the parade, the friends of
    Irving's friend's friend (wow) mostly spoke Spanish, so I enjoyed
    doing some linguistic gymnastics of bouncing between the three
    languages as I met them all. We did a bit of dancing, some
    chatting and hanging out, before realizing that all that parading
    had made us a bit sleepy, so we turned in fairly early. But at
    least we finally did manage to go out on the last weekend! Better
    late than never I guess. Irving slept over so he could avoid the
    long commute back to Buch in the middle of the night.
  </p>

  <p>
    <strong>Sunday</strong> started out very chill-Irving got to be a
    part of the very last Sunday breakfast with Ayse, which was as
    delicious and enjoyable as the 7 previous weeks had been. Irving
    and I then set out to explore a couple of flee-markets around the
    city, where we both ended up finding some good stuff. We then
    parted ways after the third market was closing up.
  </p>

  <p>
    The evening wrapped up with another inspiring conversation about
    family with Ayse, which ended when we ate some scrumptious goat
    cheese and grapes, and went to bed at 11.
  </p>

  <p>
    I'm just going to plunge into the first two days of the next week,
    and then talk about my Urlaub in the next entry:
  </p>

  <p>
    <strong>Monday</strong> was a day of finishing up the odds and
    ends that I hadn't gotten to earlier. I also had a nice lunch with
    Oliver where he told me about his family's trip to Italy the week
    before. After some more sad goodbyes at work, I went to get Ayse
    her much deserved going away present: some new yarn and needles.
    It was so much fun picking them out, and imagining all the hats
    she would make from them! I then got myself a little present at
    the bookstore: a combined book of two of Sharon Dodua Otoo's (the
    author who spoke at the conference) novellas.
  </p>

  <p>
    When I went home, Ayse cut my hair! She said she was honored to be
    the first actual hairstylist to ever do it. It wasn't too major,
    she really just gave me layers, but it was nice to see the master
    at her craft, and to experience the other side of the stories I
    had heard about her work over the weeks. She made sure that I
    still have never paid for a haircut in my life, despite my best
    efforts to the contrary…
  </p>

  <p>
    <strong>Tuesday</strong> was a similar
    goodbye-and-last-minute-errand filled day. I got my certificate
    from Parlando, and said a sad goodbye to the teachers and fellow
    students there, before heading to work to finish up my last task
    (typing up the questionnaire responses from the conference) and
    saying my last goodbyes to the wonderful team there.
  </p>

  <p>
    After work, I went on a chocolate mission to get presents for the
    family back home, and the people I was going to visit the next
    day. I also swung by the Jewish memorial very speedy-like, just to
    at least see it quickly, because I felt like I should. I then met
    Irving for a hand-over of the tennis shoes he had borrowed (rather
    than putting on his soggy ones on Sunday) then went home.
  </p>

  <p>
    My very last evening chat with Ayse was more sweet than bitter.
    She told me more of the story of her incredible, seriously
    memoir-worthy life, and I was once again blown away by everything
    she has been through, and how strong she was through it all.
  </p>

  <p>
    This meant that it was quite late by the time I started packing up
    to leave on my "southern tour" if you will… suffice it to say I
    was up later than was really called for doing the procrastinated
    packing, but it was so worth it. Besides, I got to sleep in a bit,
    since my flight wasn't till the afternoon.
  </p>

  <h2>Photos</h2>
  <figure>
    <a href="img/IMG_4987.jpg">
      <img
        src="img/thumbs/IMG_4987.jpg"
        alt="The view from the top of the Kreuzberg as the sun set"
      />
    </a>

    <figcaption>The view from the top of the Kreuzberg as the sun set.</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_4989.jpg">
      <img
        src="img/thumbs/IMG_4989.jpg"
        alt="Halfway down looking up at the Kreuzberg"
      />
    </a>

    <figcaption>Halfway down looking up at the Kreuzberg.</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_4991.jpg">
      <img
        src="img/thumbs/IMG_4991.jpg"
        alt="t-shirt reads: Trump halts maul!"
      />
    </a>

    <figcaption>
      This just made me laugh. It translates basically to "Trump, shut
      your face!" my sentiments exactly…
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_4992.jpg">
      <img
        src="img/thumbs/IMG_4992.jpg"
        alt="My team from RAA"
      />
    </a>

    <figcaption>
      The lovely team (and all my swag!) from the Griffbereit &
      Rucksack (the bilingual playgroup/parent support
      group/extracurricular project that I visited on Tuesday)
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_4995.jpg">
      <img
        src="img/thumbs/IMG_4995.jpg"
        alt="Miror reads: Du bist die schönste"
      />
    </a>

    <figcaption>
      This is a wonderful sticker that Ayse had on her bathroom
      mirror, that I kept meaning to take a picture of, but somehow I
      never really happened to have my phone with me in the
      bathroom….It reads: Du bist die schönste.
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_4997.jpg">
      <img
        src="img/thumbs/IMG_4997.jpg"
        alt="Purple flower"
      />
    </a>

    <figcaption>It's pretty.</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5001.jpg">
      <img
        src="img/thumbs/IMG_5001.jpg"
        alt="Murals at the East Gallery (1)"
      />
    </a>

    <figcaption>Best of both worlds: hair and tree.</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5006.jpg">
      <img
        src="img/thumbs/IMG_5006.jpg"
        alt="Murals at the East Gallery (2)"
      />
    </a>

    <figcaption>
      <q>There are many walls to take down</q> and I trust you can
      read the later English addition yourself…
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5011.jpg">
      <img
        src="img/thumbs/IMG_5011.jpg"
        alt="Exploded apple core painted on the side of a building."
      />
    </a>

    <figcaption>
      This was just painted on the side of a random apartment
      building—kinda great—especially the worm.
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5012.jpg">
      <img
        src="img/thumbs/IMG_5012.jpg"
        alt="Tiled wall inside the U-Bahn"
      />
    </a>

    <figcaption>I decided this might be my favorite U-Bahn station. It's so lovely.</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5014.jpg">
      <img
        src="img/thumbs/IMG_5014.jpg"
        alt="A cobble stone road meets the grass"
      />
    </a>

    <figcaption>As I was walking to the climbing gym on the beach, the road just kinda ended…</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5020.jpg">
      <img
        src="img/thumbs/IMG_5020.jpg"
        alt="More fun animal holds"
      />
    </a>

    <figcaption>These are some more fun animal holds. Check out the elephant!</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5022.jpg">
      <img
        src="img/thumbs/IMG_5022.jpg"
        alt="Inside the climbing gym (1)"
      />
    </a>

    <figcaption>They had some cool overhung routes.</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5028.jpg">
      <img
        src="img/thumbs/IMG_5028.jpg"
        alt="Slacklines setup on the beach"
      />
    </a>

    <figcaption>
      <tt>Salckline + Beach = Relaxation</tt>
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5038.jpg">
      <img
        src="img/thumbs/IMG_5038.jpg"
        alt="Sun and Queen Anne's Lace—I couldn't resist"
      />
    </a>

    <figcaption>Sun and Queen Anne's Lace—I couldn't resist.</figcaption>
  </figure>


  <figure>
    <a href="img/IMG_5042.jpg">
      <img
        src="img/thumbs/IMG_5042.jpg"
        alt="Rainbow door in the Nollendorfplatz neighborhood"
      />
    </a>

    <figcaption>
      You can tell when you are approaching the Nollendorfplatz
      neighborhood, because everything starts to get rainbow.
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5043.jpg">
      <img
        src="img/thumbs/IMG_5043.jpg"
        alt="Postcard translates to: Good girls go to heaven, bad girls go to BERLIN"
      />
    </a>

    <figcaption>
      I had to laugh at this postcard: "Good girls go to heaven, bad
      girls go to BERLIN".
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5044.jpg">
      <img
        src="img/thumbs/IMG_5044.jpg"
        alt="Men wearing lederhosen at the pride parade"
      />
    </a>

    <figcaption>Pride with a German touch: Lederhosen.</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5050.jpg">
      <img
        src="img/thumbs/IMG_5050.jpg"
        alt="Bag that reads: Sisters of Perpetual Indulgence"
      />
    </a>

    <figcaption>
      "Sisters of Perpetual Indulgence" bearded individuals dressed in
      traditional nun's attire, pushing a stroller full of alchohol.
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5055.jpg">
      <img
        src="img/thumbs/IMG_5055.jpg"
        alt="People in the flooded streets"
      />
    </a>

    <figcaption>Annnnd POST downpour festivities…</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5069.jpg">
      <img
        src="img/thumbs/IMG_5069.jpg"
        alt="My certificate from class!"
      />
    </a>

    <figcaption>My certificate from class!</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5071.jpg">
      <img
        src="img/thumbs/IMG_5071.jpg"
        alt="The Bundestag Building made of chocolate at the Rittersport store"
      />
    </a>

    <figcaption>
      The Bundestag Building….in chocolate. The things you find in
      overpriced bougie chocolate stores…
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5074.jpg">
      <img
        src="img/thumbs/IMG_5074.jpg"
        alt="Tower of giant Rittersport chocolates piled up to the ceiling"
      />
    </a>

    <figcaption>RITTERSPORT</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5076.jpg">
      <img
        src="img/thumbs/IMG_5076.jpg"
        alt="View of the Jewish Memorial from above"
      />
    </a>

    <figcaption>A quick peak at the Jewish Memorial.</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5078.jpg">
      <img
        src="img/thumbs/IMG_5078.jpg"
        alt="View of the Jewish Memorial from below"
      />
    </a>

    <figcaption>Pretty intense to be in the middle of it.</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_5082.jpg">
      <img
        src="img/thumbs/IMG_5082.jpg"
        alt="Pink rose bent down from all the water"
      />
    </a>

    <figcaption>I love flowers, but especially when they are droplet-ed with rain.</figcaption>
  </figure>

</article>
{{end}}
