{{define "content"}}
<article class="prose prose-blue prose-2xl md:prose-xl">
  <h2>Welcome To My Blog!</h2>
  <p>
    It seems odd to introduce myself, since most of you reading this
    probably already know me pretty well, but just incase, I will
    briefly say who I am. Kate Buche-Pattison, rising Sophomore at
    Earlham College, I am a Waldorf school graduate from a wacky
    wonderful family in Wisconsin…that's pretty much what you need
    to know…oh yah, and I’m going to Quito Ecuador for a Semester to
    study abroad.
  </p>
</article>
{{end}}
