{{define "content"}}
<article class="prose prose-blue prose-2xl md:prose-xl">
  <h2>Welcome To My Blog!</h2>
  <p>
    Hello! If you are reading this you probably know I’m Kate, and
    that I was lucky enough to be awarded a Fulbright grant to be an
    English teaching assistant in Germany for the 2021-22 academic
    year, which is why I’m in Rostock.
  </p>
</article>
{{end}}
