{{define "layout" -}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/green-knitting-sm.png" />
    <link rel="apple-touch-icon" href="/green-knitting-lg.png" />
    <link rel="stylesheet" href="/tailwind.css" />
    <link rel="stylesheet" media="print" href="/blog/print.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="I'm back in Germany again, for a year this time: let the adventures commence!"
    />

    <title>
      {{- if ne $.DocumentTitle "" -}}
      {{.DocumentTitle}}
      {{- else -}}
      RosTALK: Guten-blog!
      {{- end -}}
    </title>
  </head>

  <body id="top" class="max-w-screen-xl p-4 md:px-8 mx-auto">
    <header id="masthead">
      <h1 class="text-2xl md:text-3xl font-medium">
        <a class="hover:underline" href="/blog/rostock/index.html">RosTALK: Guten-blog!</a>
        <div class="py-2 text-base">
          I'm back in Germany again, for a year this time: let the adventures commence!
        </div>
      </h1>
      <hr/>

      <img
        alt="The Rostock harbor in Mecklenburg-Vorpommern, Germany"
        title="The Rostock harbor in Mecklenburg-Vorpommern, Germany"
        src="/blog/rostock/rostock-harbor.jpg"
        class="py-4 w-full"
      />
    </header>

    <div class="mt-4 flex flex-col md:flex-row md:justify-between">
      <main role="main">
        {{- template "content" -}}
      </main>

      <nav id="archive" class="flex-none prose prose-sm py-4 md:px-8 md:py-0 md:w-96">
        {{- range $month := .Archive}}
        <h3><time datetime="{{$month.Date.ISO}}">{{$month.Title}}</time></h3>
        <ul>
          {{- range $post := $month.Posts}}
          <li>
            {{if eq $.DocumentTitle $post.Title}}
            <a href="index.html">{{$post.Title}}</a>
            {{- else -}}
            <a href="/blog/rostock/{{$post.URL}}">{{$post.Title}}</a>,
            {{- end}}
            <small>
              <time datetime="{{$post.Date.ISO}}">
                {{$post.Date.Short}}<sup>{{$post.Date.Suffix}}</sup>
              </time>
            </small>
          </li>
          {{- end}}
        </ul>
        {{- end}}
      </nav>
    </div>

    <footer class="my-4">
      <hr/>
      <div class="py-4">
        <a class="underline" href="#top">Back to top</a>
      </div>

      <div class="bg-red-100 p-2 text-sm">
        <strong class="text-base">Achtung!</strong>
        <p>
          The <a href="https://us.fulbrightonline.org/">Fulbright</a>
          organization wants me to be explicit about the fact that the views
          and opinions you will read here are my own, and not meant to
          represent Fulbright Germany in any way. Whew, now that the
          official bit is over, let's dig in!
        </p>
      </div>
    </footer>
  </body>
</html>
{{- end}}
