{{define "content"}}
<article>
  <h1>Post 3</h1>
  <time datetime="2021-09-21">Tuesday, September 21, 2021</time>

  <p>
    Vitae ultricies leo integer malesuada nunc vel risus commodo
    viverra maecenas accumsan, lacus vel facilisis. Pellentesque sit
    amet, porttitor eget dolor morbi non arcu risus, quis varius quam
    quisque id. Egestas quis ipsum suspendisse ultrices gravida dictum
    fusce ut placerat orci nulla pellentesque dignissim? Sed velit
    dignissim sodales ut eu sem integer vitae justo eget magna
    fermentum iaculis eu non. Elementum integer enim neque, volutpat
    ac tincidunt vitae, semper quis lectus nulla at volutpat diam ut
    venenatis. Pretium, nibh ipsum consequat nisl, vel pretium lectus
    quam id leo in vitae?
  </p>
</article>
{{end}}
