{{define "content"}}
<article>
  <h1>Post 2</h1>
  <time datetime="2020-05-03">Sunday, May 3, 2020</time>

  <p>
    Velit laoreet id donec ultrices tincidunt arcu, non sodales neque
    sodales ut etiam sit amet nisl purus, in mollis nunc. Sagittis eu
    volutpat odio facilisis mauris sit amet massa vitae.
  </p>

  <p>
    Molestie at elementum eu, facilisis sed odio morbi quis commodo
    odio aenean sed adipiscing diam donec adipiscing tristique risus
    nec! Non odio euismod lacinia at quis risus sed vulputate odio.
  </p>

  <p>
    Vitae, semper quis lectus nulla at volutpat diam ut venenatis
    tellus in metus vulputate eu scelerisque felis imperdiet proin
    fermentum leo vel. Integer feugiat scelerisque varius morbi enim
    nunc, faucibus!
  </p>
</article>
{{end}}
