{{define "content"}}
<article>
  <h1>Post 1</h1>
  <time datetime="2019-01-21">Monday, January 21, 2019</time>

  <p>
    Imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Libero
    enim, sed faucibus <strong>turpis</strong> in eu mi bibendum neque egestas congue
    quisque egestas diam in arcu cursus euismod quis viverra.
  </p>

  <figure>
    <blockquote>
      Id ornare arcu odio ut sem nulla pharetra diam sit amet nisl suscipit adipiscing?
      <figcaption>
        <cite>&mdash;Lorem Ipsum</cite>
      </figcaption>
    </blockquote>
  </figure>

  <p>
    Egestas maecenas pharetra convallis posuere? Orci eu lobortis
    elementum, <em>nibh tellus molestie nunc</em>, non blandit massa enim nec dui
    nunc mattis enim ut tellus elementum sagittis vitae et leo duis!
  </p>
</article>
{{end}}
