{{define "content"}}
<article>
  <h1>Welcome to my blog</h1>

  <p>
    Odio euismod lacinia at quis risus. Nunc congue nisi, vitae
    suscipit tellus mauris a diam maecenas sed enim ut sem viverra
    aliquet eget sit amet tellus cras adipiscing enim eu?
  </p>
</article>
{{end}}
