{{define "layout" -}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>
      {{- if ne $.DocumentTitle "" -}}
        {{.DocumentTitle}}
      {{- else -}}
        Example Blog
      {{- end -}}
    </title>
  </head>
  <body>
    <header>
      <h1>Hello, world!</h1>
      <nav>
        <ul>
          <li><a href="/index.html">Home</a></li>
        </ul>
      </nav>
      <hr/>
    </header>

    <main role="main">
      {{- template "content" -}}
    </main>

    <nav class="archive">
      <h2>Archive</h2>

      {{- range $month := .Archive}}
      <h3>{{$month.Title}}</h3>
      <ul>
        {{- range $post := $month.Posts}}
        <li>
          {{if eq $.DocumentTitle $post.Title}}
          <a href="index.html">{{$post.Title}}</a>
          {{else}}
          <a href="/{{$post.URL}}">{{$post.Title}}</a>,
          {{end}}
          <small><time datetime="{{$post.Date.ISO}}">{{$post.Date.Short}}</Time></small>
        </li>
        {{- end}}
      </ul>
      {{- end}}
    </nav>
  </body>
</html>
{{- end}}
