{{define "content"}}
<article class="blog-post">
  <h1>Almost To The Beach…</h1>
  <time datetime="2015-10-11">October 11, 2015</time>

  <p>
    So, this is a week late, I realize…but I really did write it last
    week, but as you will read I was not with my computer, so I have
    not been able to post it till now…This first bit I wrote in the
    van on Saturday last week:
  </p>

  <p>
    I have always loved driving along ridge tops. There is something
    so majestic about being able to see the world spread out on either
    side of me like that-which I suppose isn't an entirely new
    insight, yet it seems to strike a chord in me every time, never
    the less. It's odd too, how similar the feeling is, regardless of
    whether my path is a winding road through the familiar country
    roads of the driftless region of Wisconsin, or the new territory
    of the cloud shrouded Andes mountains of Ecuador. I am sitting in
    the back of a rented van headed away from Quito towards the coast
    town of Bahía de Cáraquez pretty much straight west of Quito in
    the province of Manabí.
  </p>

  <p>
    It has been a rough week, trying to balance my level of busyness
    compared to the scurrying around of last week. We finished our
    first unit of Spanish-I have now successfully passes Nivel Cuatro
    at La Catolica (as the university is generally called)
  </p>

  <figure>
    <a href="img/IMG_6336-e1444616347177.jpg">
      <img
        src="img/IMG_6336-e1444616347177-624x468.jpg"
        alt=""
      />
    </a>

    <figcaption>
      Our graduating class with professor Mario. Photo credit goes to
      Wendy (Chinese girl in the front).
    </figcaption>
  </figure>

  <p>
    but the written and oral exam studying I did were still nowhere
    near as intensive as last week's essays, which gave me too much
    time to think I guess, which led to mid program blues at some
    points in the week, and gloriously relaxing conversations with my
    host family (about Christmas and Easter traditions, and rambling
    all the way around to where the actual equator was on the map
    -Quito is in fact officially in the Southern Hemisphere)
  </p>

  <p>
    In other news, it appears that the rainy season has begun for
    real-with clouds and rain for at least part of every day. I took a
    lovely walk on Thursday through the misty streets when my
    masculinitys class was canceled.
  </p>

  <figure>
    <a href="img/IMG_1230.jpg">
      <img
        src="img/IMG_1230-225x300.jpg"
        alt="Tree growing up from under the sidewalk"
      />
    </a>

    <figcaption>
      It looks like tree is beating concrete-this is one of those
      things I walk past everyday, and smile at, but never documented.
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1245.jpg">
      <img
        src="img/IMG_1245-225x300.jpg"
        alt="Misty hillside"
      />
    </a>

    <figcaption>Misty hillside</figcaption>
  </figure>


  <figure>
    <a href="img/IMG_1233.jpg">
      <img
        src="img/IMG_1233-300x225.jpg"
        alt="Graffiti that reads: A day without smiling is a day lost"
      />
    </a>

    <figcaption>
      <q>A day without smiling is a day lost.</q> A nice reminder on my way home each day.
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1242.jpg">
      <img
        src="img/IMG_1242-225x300.jpg"
        alt="View from my way home"
      />
    </a>
  </figure>

  <figure>
    <a href="img/IMG_1244.jpg">
      <img
        src="img/IMG_1244-225x300.jpg"
        alt="Delicate white flower next to a large greasy truck"
      />
    </a>

    <figcaption>
      I was struck by the juxtaposition of this frilly, delicate
      flower and the large truck, its greasy guts exposed for repair
      in the background…
    </figcaption>
  </figure>

  <p>
    Friday evening Michelle and I finalllllly went to the climbing
    gym-good to have those chalked up fingers and sore arms once again…
  </p>

  <figure>
    <a href="img/IMG_1249.jpg">
      <img
        src="img/IMG_1249-300x238.jpg"
        alt="My hand in front of my climbing gear"
      />
    </a>

    <figcaption>
      Chalky, aching fingers, climbing shoes and chalk bag-good to be back at it at last!
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1248.jpg">
      <img
        src="img/IMG_1248-225x300.jpg"
        alt="Climbing hold in the shape of folded hands"
      />
    </a>

    <figcaption>This is a rock climbing hold of hands-wow.</figcaption>
  </figure>

  <p>
    We met at school at 8 the next day to get in a van for 8 hours to
    arrive at long last in Bahía.
  </p>

  <blockquote>
    [As mentioned, I wrote the above on the way here, on Saturday.]
  </blockquote>

  <p>
    I am currently standing in the bathroom while my phone charges in
    the only outlet we could locate in the room, dressed in my bikini
    and my handy dandy all purpose silk scarf that is currently a
    cover-up, waiting for my groggy compañeros to awaken from their
    naps so we can swim in the Pacific Ocean that is waving at us
    enticingly from across he street. Wow-life is good. After tumbling
    out of the van yesterday, having discussed most of the major
    problems of the world, as well as napped and attempted to digest
    the ungodly amount of food we ate for lunch, we finally arrived at
    one of the most wonderful hotels I have ever seen.
  </p>

  <figure>
    <a href="img/IMG_1251.jpg">
      <img
        src="img/IMG_1251-225x300.jpg"
        alt=""
      />
    </a>

    <figcaption>
      The view of the stunning architecture of the hotel from our room.
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1252.jpg">
      <img
        src="img/IMG_1252-225x300.jpg"
        alt="View of our hotel room"
      />
    </a>

    <figcaption>
      Sarah, Minori and I stayed in the "Pharaoh Room" and easily all
      three of us in this gargantuan bed…
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1253.jpg">
      <img
        src="img/IMG_1253-225x300.jpg"
        alt="View of our extra loft bed off in the corner"
      />
    </a>

    <figcaption>
      Or there is this luxurious princess loft bed…which we used when
      we wanted eeeeven more space to splay out and let the sound of
      waves lull us to sleep.
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1263.jpg">
      <img
        src="img/IMG_1263-225x300.jpg"
        alt="View from the hotel terrace"
      />
    </a>

    <figcaption>
      The terrace--except it is even more beautiful in real life, if you can believe it.
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1267.jpg">
      <img
        src="img/IMG_1267-300x225.jpg"
        alt="Hammocks on the terrace"
      />
    </a>

    <figcaption>It even has a few hammocks!</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1265.jpg">
      <img
        src="img/IMG_1265-300x225.jpg"
        alt="Looking out at the ocean from the hotel room"
      />
    </a>

    <figcaption>The view…</figcaption>
  </figure>

  <p>
    We pretty immediately changed into suits (Minori and I anyway) and
    went into the ocean (not too deep, since it was high tide) and
    laughed and romped until sunset.
  </p>

  <figure>
    <a href="img/IMG_1258.jpg">
      <img
        src="img/IMG_1258-624x468.jpg"
        alt=""
      />
    </a>

    <figcaption>
      So this is literally across the street from where we stayed allll week. Yep.
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1255.jpg">
      <img
        src="img/IMG_1255-225x300.jpg"
        alt="View of the beach where there are lots of large rocks"
      />
    </a>

    <figcaption>Happy sandy toes</figcaption>
  </figure>

  <p>
    Dinner was a lovely discussion about the usefulness of "political
    correctness" as a means to make a more respectful society, after
    witch we went out and bought some cerveza to enjoy by the pool on
    the hotel's balcony, where we hung out much too late discussing
    and bonding into the night. This morning we had a
    lesson/discussion about participant observation and then we went
    to the market across the bridge in San Vicente (observation number
    1: two white girls walking through the fish/meat section with the
    almost exclusively male vendors draw a lot of attention) and later
    to the market in Bahía. After eating a shrimp-less cerviche and
    drinking some fresh squeezed juice we returned home to a much
    needed siesta-and are now headed for the waters!!
  </p>

</article>
{{end}}
