{{define "content"}}
<article class="blog-post">
  <h1>¡CHIVA!</h1>
  <time datetime="2015-11-12">November 12, 2015</time>

  <p>
    The title of this post was the headline of many an email I sent
    last week, trying to organize that event. I know you all are
    probably rather lost, but stick with me. I will get there, I
    promise.
  </p>

  <p>
    The beautiful thing about having Monday and Tuesday off, I
    realized, is that the week before vacation, you can make it
    through it with the thought of a break on the horizon, and the
    week after is only three days--gently easing you back into the
    routine of reality. Wednesday then, was lovely in that if felt
    like Monday but then I would realize it wasn't, which is a happy
    feeling.
  </p>

  <figure>
    <a href="img/IMG_1844.jpg">
      <img
        src="img/IMG_1844-225x300.jpg"
        alt="Fuzzy swing hanging from a tall tree"
      />
    </a>

    <figcaption>
      I was greeted on my first walk to school with the addition of
      this oddly fuzzy swing to the roundabout with the fountain area…
    </figcaption>
  </figure>

  <p>
    But this upset me a biiit:
  </p>

  <figure>
    <a href="img/IMG_1820.jpg">
      <img
        src="img/IMG_1820-225x300.jpg"
        alt="A blue Christmas tree visible through the window"
      />
    </a>

    <figcaption>
      Seriously? So much wrong with this, not only do the neighbors
      have a Christmas tree up when it is barely November, it is also
      garishly blue AND FLASHING! Why??
    </figcaption>
  </figure>

  <p>
    This was eerily beautiful though:
  </p>

  <figure>
    <a href="img/IMG_1864.jpg">
      <img
        src="img/IMG_1864-300x225.jpg"
        alt="View of the soccer field but it's too foggy to see anything"
      />
    </a>

    <figcaption>Foggy night that utterly covered the soccer field across the street.</figcaption>
  </figure>

  <p>
    As I mentioned, Ximena's birthday is November 2ed, but since I
    (and a lot of the rest of the Ecuadorian world) were out of town
    that weekend, because of day of the dead, she decided to have her
    party the following weekend. Here is where I explain what a chiva
    is: it is essentially an old bus/truck with open sides and no
    seats, except around the edges, and it is decked out with open
    space, lights and a bar to party in. You then crank up the music
    and cruise around the city, drinking this slightly alcoholic tea
    (called canelazo, which is mostly for warming you up purposes) and
    then you dance and dance. So, we were going to have one of those.
    "Invite all your friends!" she told me, which is not necessarily
    the typical approach to celebrating your 44th birthday (hence, my
    host family is super cool)
  </p>

  <p>
    After I presented about my interviews with Ecuadorian men about
    machismo for my oral exam in Spanish on Thursday, I had no other
    big assignments for the week, and so my mental energies went
    towards inviting and confirming who was going to come to the
    chiva.
  </p>

  <p>
    When Friday finally rolled around, I did some work after class,
    then ate some dinner, and got dressed for the long awaited chiva.
    A little before 8 (when it was to start) I finally remembered to
    gift Ximena those earnings I had gotten her from the Waorani
    community, and soon thereafter, the birthday girl, Lupe (next door
    neighbor but also Gustavo's mom) and Gustavo and I drove to the
    place the chiva was to start.
  </p>

  <figure>
    <a href="img/IMG_1845.jpg">
      <img
        src="img/IMG_1845-225x300.jpg"
        alt="The chiva is here"
      />
    </a>

    <figcaption>And there it was-as luminescent and exciting as promised</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1849.jpg">
      <img
        src="img/IMG_1849-300x225.jpg"
        alt="Selfie from inside the chiva"
      />
    </a>

    <figcaption>Blurry and blue chiva selfie</figcaption>
  </figure>

  <p>
    We had to wait a while for everyone to show up (we think it ended
    up being about 30some of us, with their friends and my friends,
    and some of their friends) In the final tally, there was everyone
    from Earlham except Rodolfo who was sick, and James, who had a
    date (That left: Michelle +3 vegan friends of hers, Tyler, Sarah,
    and Minori) plus Veronica (anthropologist), Carol (friend from
    camping trip) and Valentin (French classmate from Spanish class
    who made us crepes) It was a grand group, once everyone finally
    did arrive. I collect everyone's $5 as they boarded, and each was
    gifted a plastic cup on a necklace string (to avoid having to hold
    it in the rare moments it was empty) and plastic whistles (to make
    as much noise as humanely possible)
  </p>

  <p>
    We had a great time trying to dance and not fall over, as we
    slowly wound our way through heavy Friday night traffic to the
    centro historico (where we saw several other chivas). At some
    point we stopped in a park and all got out. It was time to crown
    the king and queen of the chiva. Being the birthday girl, Ximena
    was obviously the queen, so all that remained to be decided was
    the king-who would volunteer? When only Gustavo stepped into the
    circle, Ximena volun-told Tyler and a family friend into the
    circle as well. Each contestant had to dance with Ximena, and the
    king was to be elected by popular vote (loudest cheers.) I think
    because of the large contingent who knew him, and not the other
    two people (in addition, of course, to his fabulous dance moves
    and natural charm) Tyler was crowned the king of the chiva with
    Ximena. After a little macarena and some other dances in which the
    foreigners were utterly lost to the correct moves (in one of which
    I also managed to break Sarah's sandal in three places…but we
    ended up fixing it with a combination of the string from the cup
    necklace and some gum) We then piled back into the chiva to finish
    our rout back to where we started.
  </p>

  <p>
    At 10:00, when it was over, we spilled back out onto the street,
    and started deciding if we wanted to go to the clubs (just a few
    blocks away) or if we wanted to load ourselves into the
    combination of cars, taxis and a bike and go back to our house. We
    eventually elected for the latter, and slowly arranged ourselves
    into the various transports to get there. Ironically, the three of
    us who actually live here were the last to arrive, to 30+ people
    in our living room! Popcorn, Cheetos and cerveza were passed
    round, and the furniture was pushed aside, Spotify fired up, and
    pretty soon Ximena was pulling everyone onto the "dance floor"
    once again. We had a lovely time, I learned a little bachata from
    Ernesto, the family friend who had been the other chiva king
    contestant, and had a lot of fun with everyone, Sarah and I
    occasionally breaking into exaggerated interpretive ballet-style
    dance when we felt it was necessary (things you can only do in
    clubs if you wanna be <em>ridiculed</em> for looking like an
    idiot) and her and Minor impressed everyone with their spontaneous
    ability to do the splits and russian dance moves when needed. It
    was about 2am when everyone left and we had cleaned up enough to
    go to bed.
  </p>

  <p>
    The next day, Minori came over at 11, because we were planning on
    going to the centro historico to buy some yarn (the hat I had been
    making in Yasuní having inspired her to learn to knit.) When we
    asked Ximena for directions on which bus to take, and if she had
    any knitting needles, she suggested we all go, and pick up Sarah
    to fill the last seat in the car. The five of us spent a lovely
    (if a bit rainy) Saturday strolling through narrow cobbled
    streets, to yarn shops and shoe markets (Sarah was a little
    desperate for footwear, after the shoe tragedy of the night
    before) we ate candied figs, salted green mango, and chocolate
    covered bananas all before we sat down to a large traditional
    lunch in an excessively cheap (and therefore excessively crowded)
    restaurant. The sheer quantity of food made us waddle back to the
    car, groaning and threatening to explode all the way home.
  </p>

  <p>
    The rest of the afternoon was spent with chatting and knitting
    lessons in my room, which Tyler later joined, minus the knitting.
    Veronica joined us sometime in the evening, and when they all left
    to go clubbing, a slight stomachache kept me at home.
  </p>

  <p>
    Sunday was a day of homework and preparing for the first real week
    after Yasuní (on Monday we were to have our written midterm for
    Spanish) Sarah Tyler and I went to see a free showing of an
    independent Spanish film at la casa de la cultura near school in
    the evening. It was an interesting slice-of-life type film, with
    no easily definable plot, but it had characters that alternated
    between funny and touching. After taxi-ing back home in record
    time (since the city is essentially totally empty on Sundays,
    especially in the evening) I met up once again with Minori to
    study for our exams together (but also just mostly knit and talk
    some more) Our study session turned into a sleepover when it got
    too late for her to walk home, and thus it happened that I woke up
    Minori in the other room at 7am (when asked if she wanted to sleep
    in my bed or in the other room she responded: "Hmmm, I move a lot
    in my sleep, and in Yasuní you sang in your sleep, so I will sleep
    in the other room" ) so that we could register for classes for
    next semester. Or try to anyway…But that is the start of another
    story, and a new week. Although I have now lived most of this new
    week by now, I will store up that story for when it can be a week
    long.
  </p>

</article>
{{end}}
