{{define "content"}}
<article class="blog-post">
  <h1>Fuego y Lluvia</h1>
  <time datetime="2015-09-21">September 21, 2015</time>

  <p>
    I think Monday was pretty normal, class, aerial silks, more class.
    Tuesday was not normal. Towards the end of our "hora cultural" in
    which there was Ecuadorian food, dancing and a song brought to us
    by Prospero, the Zambian priest in our class, I got a call. Who
    would be calling me? Everyone who has this number knows I am in
    class till 12:30…I call the number back after class-it was
    Gustavo, telling me to not come home, and to tell Sarah and Tyler
    that we would have to have them over for lunch some other day.
    There was a large fire about two blocks away from the house, and
    the smoke was pretty bad. Sure enough, when we got outside, this
    is what greeted us:
  </p>

  <figure>
    <a href="img/IMG_1168.jpg">
      <img
        src="img/IMG_1168-225x300.jpg"
        alt="Menacing cloud of smoke near my house (1)"
      />
    </a>

    <figcaption>See that menacing cloud of brown smoke? That is the direction of my house…</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1169.jpg">
      <img
        src="img/IMG_1169-225x300.jpg"
        alt="Menacing cloud of smoke near my house (2)"
      />
    </a>

    <figcaption>As it slowly covered pretty much the entire sky, we got a little worried…</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1170.jpg">
      <img
        src="img/IMG_1170-225x300.jpg"
        alt="Menacing cloud of smoke near my house (3)"
      />
    </a>

    <figcaption>And eventually the sun, lending an eerily apocalyptic look to the lighting in the city.</figcaption>
  </figure>

  <p>
    Us three sophomores went to Sarah's house for lunch instead of
    mine, trying not to worry too much about whether or not our (Tyler
    and my) houses were burning. When the internet and power went out
    for a while we were indeed pretty nervous…but when I got a hold of
    Gustavo soon enough, and we discovered that they were all fine, as
    were the houses, and the fire was pretty much contained. Ximena
    and Gustavo were probably going to leave soon to avoid the last of
    the smoke, but it was safe to come back and grab my things for
    class at 4. This is how things looked when we finally crept back
    into the neighborhood:
  </p>

  <figure>
    <a href="img/IMG_1171.jpg">
      <img
        src="img/IMG_1171-300x225.jpg"
        alt="View of the mountain that was causing all of the smoke (1)"
      />
    </a>

    <figcaption>
      So allll that smoke was coming from this mountain, right outside
      my window-this is just the last traces of it when we finally got
      home.
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1172.jpg">
      <img
        src="img/IMG_1172-300x225.jpg"
        alt="View of the mountain that was causing all of the smoke (2)"
      />
    </a>

    <figcaption>There was still a few angry orange flames licking at the mostly blackened mountain</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1173.jpg">
      <img
        src="img/IMG_1173-300x225.jpg"
        alt="View of the mountain that was causing all of the smoke (3)"
      />
    </a>

    <figcaption>The fires kept flaring up again throughout the evening</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1174.jpg">
      <img
        src="img/IMG_1174-300x225.jpg"
        alt="View of the mountain that was causing all of the smoke (4)"
      />
    </a>

    <figcaption>And as dusk fell.</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1176.jpg">
      <img
        src="img/IMG_1176-225x300.jpg"
        alt="View of the mountain that was causing all of the smoke (5)"
      />
    </a>
  </figure>

  <p>
    After class on that same day, I finally started my 3000 word
    analysis of three different works of art….due Wednesday. I
    finished at 2:30 am-nothing like a forest fire to throw off your
    homework schedule I guess! But it really shows how different life
    with a family is from life in the dorms-last semester 2:30 was
    late, to be sure, but far from unheard of as a bedtime because of
    put-off homework. Here though, it felt like an all-nighter
    compared to my usual bedtime of 11 or maybe on a late night
    midnight-interesting.
  </p>

  <p>
    Wednesday was interesting in that I wore a skirt. Now, that
    wouldn't seem to be very far out of the ordinary, right? And this
    is indeed what I thought when I put it on in the morning. Now,
    normally I get essentially no attention from men as I walk to
    school. But THIS morning I could feel so many eyes on me (this
    might also have had something to do with the fact that I got to
    school and realized I was wearing earrings from 2 different sets…)
    but I doubt the honks from passing cars could have been for that
    reason, or the increase in "holas" from normal…
  </p>

  <figure>
    <a href="img/2015-09-16.jpg">
      <img
        src="img/2015-09-16-225x300.jpg"
        alt="goofy mirror selfie"
      />
    </a>

    <figcaption>
      I will admit to this goofy mirror selfie…not something I
      normally do, but it was just to document the modesty of this
      outfit (the skirt was past my knees!) and my confusion at its
      reception, I swear!
    </figcaption>
  </figure>

  <p>
    Anyway, we went to see a presentation at the university of "Young
    Peoples Ambassadors from Taiwan" -kind of random, but interesting,
    and it included some traditional Ecuadorian dances as an element
    of cultural exchange as well:
  </p>

  <figure>
    <a href="img/IMG_1183.jpg">
      <img
        src="img/IMG_1183-300x225.jpg"
        alt="Ecuadorian dances (1)"
      />
    </a>

    <figcaption>
      An unfortunately blurry picture of the Ecuadorian portion of the
      presentation.
    </figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1185.jpg">
      <img
        src="img/IMG_1185-300x225.jpg"
        alt="Ecuadorian dances (2)"
      />
    </a>
  </figure>

  <p>
    To continue the weirdness that a skirt apparently produces; on my
    way out of campus after the show, this guy from another Spanish
    class asked me out for coffee. I had been warned that he was kinda
    creepy by another girl in my class, not to mention he looks at
    least 30… Needless to say I said no! Then, not 5 minutes later, I
    am pretty sure I was almost asked out <em>again!</em> So I don't
    actually know this, but Prospero, the Zambian priest in our class,
    and other guy were walking together when I ran into them leaving
    the gym, and the other guy did that weird little eyebrow raise
    that guys do sometimes. So, fearing the worst-OK, just that he too
    might try and ask me out too- I left as fast as possible. As I was
    walking away I heard Prospero say "quick, she's leaving!"……I
    certainly could have misunderstood that, but I didn't stick around
    to find out.
  </p>

  <p>
    And to top it off, on my walk home I got a honk/shout and another
    weird eyebrows raised significant "hola", and if I am not mistaken
    (and I might be on this one too) the police car even sounded the
    siren at me! Moral of Wednesday's story: don't wear skirts and
    expect things to be the same as usual.
  </p>

  <p>
    Thursday and Fri<em>day</em> were blissfully uneventful. Friday
    evening after Rodolfo's class, we all met up again at 6 to go and
    see a play called: "El país de la canela" (The country of
    Cinnamon). The plan was to get two taxis and meet up near the
    theater for dinner before the show.
  </p>

  <p>
    Tyler, Michelle, Sarah and I piled into a taxi, and everyone else
    in the other one. We weren't exactly sure of the address of the
    theater, but when we described what we thought was its general
    location to the driver he set off. There was a lot of traffic, but
    it really shouldn't have take us 50 minutes and $5 to get there
    (to give you some perspective, the minimum fare is $1.50 and that
    can get you pretty far-and people pay $20 to travel an hour or
    more away, so a $5 taxi ride is pretty spendy) Or wait…get where?
    Where were we exactly? We were by the Ministry of Sports, <em>not</em> the
    Ministry of Agriculture, and that gas station was <em>not</em> the
    one we had told him either…upon asking a kind pedestrian, we
    discovered we were about a half hour walk away from our
    destination, so probably farther away than we had started off.
    Great.
  </p>

  <p>
    It was now dark and we were more or less lost (and we discovered
    that my phone-the only one that was charged and with us-has run
    out of credit, so we could receive Rodolfo's calls asking us where
    the heck we are, but couldn't make any) We set off walking to find
    another taxi to take us to where we actually needed to go. But
    Michelle's flats were killing her blisters. Ok, we we switched her
    size 9 feet into my size 10 shoes (she looked a bit clownish) and
    my size 10 feet were crammed into her stiff size 9 flats (I got a
    small taste of what it might have been like to be an ancient
    Chinese woman with bound feet…) and we soldiered on.
  </p>

  <p>
    Eventually we found a much nicer and more helpful taxi driver who
    not only took us where we needed to go directly, at a reasonable
    price, he also showed us how to avoid getting cheated in the
    future. By the time we finally arrived, it was too late to get
    dinner before the show, so we huddled in a circle eating potato
    and dorito chips. W stood on the corner of a busy street, giggling
    at how cold we were, and how ridiculous we surely looked.
  </p>

  <p>
    The show was wonderful. Two men and a woman told the story of
    Francisco de Orellana, the Spanish conquistador who went in search
    of Cinnamon in the Amazon, and was the first European to
    "discover" it. The story was told through a brilliant mix of
    circus-esque abilities (rolling globe, juggling, acrobatics, poi)
    and music/sound effects (from accordion to guitar to who knows
    what as percussion) It was a mixture as well, of modern references
    and historically accurate (albeit hammed-up) facts, all done with
    essentially one set that consisted of a mat, and the rolling
    globe, a the instruments, and three peoples bodies. They took us
    from Quito to the Amazon, in boats and through vicious fights with
    dogs, mosquitoes and amazonian warrior queens….quite well done,
    and certainly relevant to our class with Rodolfo.
  </p>

  <p>
    By the time the show was over, the chips were no longer filling us
    up sufficiently, so we walked over to "Adam's Rib" (Michelle was
    very impressed with the biblical pun) when we chatted and were
    generally ridiculous in the nearly empty restaurant at almost 10
    at night. The food was alright, but the best part was hanging out
    with those goofy Earlhamites-we all agreed we missed that
    atmosphere.
  </p>

  <p>
    There was no energy left for anything more exciting but sleep when
    I got home at around midnight. Saturday was a thoroughly lazy
    day-I cleaned my room and did some half-hearted homework in the
    morning, then watched a movie and talked to friends back home the
    rest of the day. The drama of the day was indeed tense however, it
    just didn't involve me directly.
  </p>

  <p>
    In the morning, when Gustavo was leaving the apartment to drop
    Mila off to go to her volunteering site, he was talking to a
    neighbor lady. Now, some background on her: she is apparently a
    nasty sort of person, very condescending and uncooperative, and to
    add to all this, her maid consistently leaves the apartment's door
    to the garden open, and because of this, one of the other
    neighbors recently got robbed (she refuses to do anything about it
    however). As far as I understand, she was attempting to block
    Gustavo's path out of the apartment, so he moved her hand aside.
    Well. She later decided to press charges against him for physical
    assault against an elderly woman-she claimed he fractured her
    forearm, by slamming the door on it. This was allegedly <em>before</em> she
    moved a very large and heavy rock in the family's usual parking
    spot to prevent Gustavo from parking there…
  </p>

  <p>
    I was the star in various videos Ximena took, proving that it was
    physically impossible for him to have fractured her arm because of
    the way the door opened and where she was standing at the time.
    Despite the absurdity of the whole situation, Gustavo was detained
    all day Saturday until his trial at 10 pm. Needless to say the
    family was in a bit of an uproar-what would happen? Would they see
    how absurd her claim was? If not, he would be in jail for 15
    days….I sat in the car with the daughter of another neighbor who
    was brought in to the trial as a character witness for Gustavo.
    Anyone who knows Gustavo at all could tell you that he is the last
    person who would do anything violent, let alone fracture an
    elderly woman's arm, no matter how obnoxious and crazy she is!
    Justice prevailed in the end-I was never really worried like
    everyone else, it had to work out, since she was obviously lying-
    and we all went home to bed, much relieved nevertheless.
  </p>

  <p>
    Sunday was a day of shopping with Ximena (grocery shopping for her
    cooking class) the highlight of which was 30 mandarin oranges for
    a dollar, and getting to try a new fruit called Pepino that looks
    like (and has the texture of, more or less) a striped tomato
    (except yellow and purple) but tastes like a melon…I will get a
    picture next time… I did some homework too I guess…
  </p>

  <p>
    Today there was no silks (which I found out when I showed up-and
    people were playing basketball in our gym instead…always nice to
    be informed…) and no art class, but I had a meeting with my
    classmate about the midterm paper we are writing together for
    Gender class. But the real exciting part was that during the
    meeting: IT RAINED! Hallelujah! Not the fog, or teasing sprinkles
    of last week, but a real good solid cloud burst. Thus finishing
    off with la lluvia, what was el fuego a little less than a week
    ago.
  </p>

  <figure>
    <a href="img/IMG_1194.jpg">
      <img
        src="img/IMG_1194-300x225.jpg"
        alt="View of the mountains after the rain"
      />
    </a>

    <figcaption>
      Real rain at last! The poor parched and burned earth sighs with
      relief as clouds of rain gather, instead of clouds of smoke.
    </figcaption>
  </figure>

</article>
{{end}}
