{{define "content"}}
<article class="blog-post">
  <h1>I Knew I'd Get Here Eventually…</h1>
  <time datetime="2015-08-03" class="italic">August 3, 2015</time>

  <blockquote>[Written in the Miami International Airport, August 2]</blockquote>

  <p>
    Its days like today that make me need to remind myself over and
    over that I do in fact like (even love) international travel.
    Here's what happened.
  </p>

  <p>
    First of all, there was the tension and stress of a visa and
    Passport that were only Fed-Exed to my house the day we were
    scheduled to leave for Chicago (they did in fact arrive on time,
    but barely) and thus we were able to start phase 1 of my trip on
    schedule, but then…
  </p>

  <p>
    This morning started out well-like the dutiful little traveler I
    am, I awoke at 6 with enough time to shower and pack up my bags,
    eat some breakfast, and depart my Grandmother's house by 7. This
    meant that we (my faithful mom, dad brother and I) arrived at
    O'Hare around 8. We therefore had just enough time to check my
    monolithic neon green suit case, and get my boarding pass (only
    the one from ChicagoàMiami though, the next leg was to be gotten
    in Miami I was told, since it was through Lan Ecuador and not just
    American Airlines. "Just ask an agent, and they will tell you
    where to go" said the reassuring bag-check-in lady) We then said
    our goodbyes, shed our tears, I was gifted an exquisite hammered
    copper Wisconsin-shaped necklace by my mega talented mother, and
    right on time I got in the security line. So far, so good.
  </p>

  <p>
    I even boarded the plane without incident. But here is where
    things began to get out of whack…We sat for 2 hours while the
    mechanical issues (apparently having something to do with one of
    the seats?) were resolved painfully slowly. But I wasn't
    worried-it was early, and my patience had not yet worn thin. I
    listened to music, read a book on my fancy new phone, talked to
    the vacationing Iowan couple next to me…listened to more music,
    read some more…when we finally took off things went alright-not
    too much turbulence and I was able to stretch my legs out in the
    exit row and sleep. A thunderstorm over Miami set us back another
    few minutes before landing as we had to circle around and land
    from the other side, but land we eventually did.
  </p>

  <p>
    Now, remember that bit about not having a boarding pass for the
    second leg of my trip? Well, that meant that I couldn't quite
    remember the exact time (or gate, or flight number) of my
    connection, which, at the time I was given my first boarding pass
    hardly worried me-after all. My layover was at least two and a
    half hours I was sure, so that would be plenty of time to get my
    new boarding pass, and figure out where I needed to get myself. My
    critical error in all this, I realize now, was not pulling my bag
    down from the overhead and checking at least my flight number and
    exact departure time for the next leg of the journey. Alas, I am
    an unseasoned connecting flight traveler. All the flights I can
    remember had been delay free, with others who managed connections,
    or direct to my destination. But, after asking the flight
    attendant, as well as the agent at the gate we came in on (and
    receiving contradictory information) I trouped my way down to
    concourse F, which was not in fact what I needed, so I went down
    to J, which is what the people at F told me to do.
  </p>

  <p>
    The Lan Ecuador attendant at Concourse J informed me that there
    were no flights leaving for Quito until 11:55 at night, and that
    the one I wanted was a Lan Ecuador flight, but it was operated
    through American Airlines, so I had to go back to Concourse D
    where American had its headquarters and ask them. So back I went
    through the alphabet of concourses, past all the enticingly
    aromatic restaurants (it was now about 5:00 PM, as I found out
    later, and there had been no meal on the first flight) and
    annoyingly slow ambling people all the way back to concourse D. I
    printed my boarding pass, and felt a sinking feeling in my
    stomach. It wasn't a boarding pass at all, only a slip informing
    me that "Unfortunately the check-in window for my flight had
    passed" and it asked me to please see an agent. Wonderful.
  </p>

  <p>
    Another long line later, I was informed that, (as the Lan agent
    had already told me) there was a flight leaving at 11 something
    PM, but that it was full, and I was to go back to Concourse J and
    ask if I could get on standby. If not, I would have to wait until
    tomorrow. Even more wonderful.
  </p>

  <p>
    So back to J I trouped, starting to feel it in my arms by then,
    from lugging my two hefty carry-ons back and forth. After several
    frustrating minutes of being told to wait, being redirected to
    someone who also didn't have information I needed and not knowing
    who did, I was finally directed downstairs to the Lan office where
    the agent made some calls and got me on the 11:55 flight (for
    sure, not standby). Finally some good news!
  </p>

  <p>
    So back upstairs I elevator-ed, and was informed that the machine
    could not figure out how to spit out my boarding pass, and I was
    to see an agent yet again. Just what I really wanted to hear. It
    was in the process of waiting to do that when the Lan office agent
    from downstairs found me and told me that I should go to American
    Airlines and get my checked bag on the correct flight so I could
    pick it up in Quito when I arrived.
  </p>

  <p>
    Alright so for the third time I hauled myself all the way back to
    concourse D (and this is a big airport people, I mean yes, I am
    being a bit over-dramatic about it perhaps, but it actually was a
    pretty long walk, especially the third time!) The agent at the
    Main Desk of American Airlines got my bag forwarded so that I
    could pick it up with the rest of the people on my new flight. She
    was also happy to give me a $12 travel voucher to eat with (solid
    recommendation to ask for that-thanks mom) since breakfast had
    been my last meal before 7AM, and almost 12 hours later I was
    beginning to get a bit dizzy…
  </p>

  <p>
    One overpriced "Margarita sandwich" later, (during the eating of
    which I composed an email to Rodolfo, the program leader,
    explaining the situation, and asking him to please inform my poor
    host mother that I was still in Miami and wouldn't arrive in Quito
    until some ungodly and as yet unknown hour of the night) I could
    not send my email since the wifi was not in fact functional in
    that spot, but luckily I had managed to thoroughly cover my phone
    with greasy mozzarella fingerprints…
  </p>

  <p>
    After finally tracking down an agent who directed me to another
    agent who directed me to a line where I finally got my boarding
    pass, I went through security for the second time. I made my way
    to gate J14 where I composed another email to Rodolfo, this time
    with actual times, that I was able to send. I hope he saw it and
    was able to inform my host mother before she left for the airport.
    With the time difference (I am on eastern time here, and Quito is
    currently on central time) there is hope that he was able to catch
    her right as she would have been leaving to drive the hour to come
    and get me…
  </p>

  <p>
    I have been sitting here in a strange yellow rocking chair that
    belongs to a fleet that seem to be unique to gate J14. I've been
    explaining to all the passersby who (like me) think that this wall
    covered with several outlets would be a good place to charge their
    device, but that in fact only one of the 10 outlets actually
    functions. This long delay means I have had ample time to fully
    document the first of what are sure to be many escapades-and I
    haven't even gotten to Ecuador yet! I may not get to post it until
    sometime tomorrow (after lots of sleep I hope) because my half an
    hour of free airport wifi is long gone, but you will all get to
    read it when I am settled into my host family's (and my new) house
    in Quito.
  </p>

  <blockquote>
    [I am now sitting comfortably in my new Ecuadorian room, my half
    un-packed clothes splayed everywhere, just home from a city tour
    with Gus (pronounced like Goose) my host Dad&#8211;more on that later]
  </blockquote>

  <figure>
    <a href="img/IMG_0290-e1438627229601.jpg">
      <img
        src="img/IMG_0290-e1438627229601-375x500.jpg"
        alt="My expertly crafted hammered copper Wisconsin shaped necklace"
      />
    </a>

    <figcaption>My expertly crafted hammered copper Wisconsin shaped necklace-I love you Mommy!</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_0286.jpg">
      <img
        src="img/IMG_0286-282x500.jpg"
        alt="Snapchat from O'hare"
      />
    </a>

    <figcaption>The snapchat from O&#8217;Hare that never sent…</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_0291-e1438627102387.jpg">
      <img
        src="img/IMG_0291-e1438627102387-500x375.jpg"
        alt="Strange rocking chairs by my final gate"
      />
    </a>

    <figcaption>An unfortunately blurry picture of the strange rocking chairs by my final gate (where I sat to write this)</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_0295-e1438627557587.jpg">
      <img
        src="img/IMG_0295-e1438627557587-375x500.jpg"
        alt="My luggage made it!"
      />
    </a>

    <figcaption>My luggage made it! Hallelujah!</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_0296-e1438627542166.jpg">
      <img
        src="img/IMG_0296-e1438627542166-375x500.jpg"
        alt="Safely tucked into my new Ecuadorian bed at long last"
      />
    </a>

    <figcaption>Safely tucked into my new Ecuadorian bed at long last&mdash;5:51 AM!</figcaption>
  </figure>
</article>
{{end}}
