{{define "content"}}
<article class="blog-post">
  <h1>I'm Off</h1>
  <time datetime="2015-08-02" class="italic">August 2, 2015</time>

  <p>
    The fact that in less than half an hour, at 10:15 AM I will be on a
    plane leaving O'Hare, and (baring any unforeseen complications) I will
    land in a new country and hemisphere before 9 PM tonight, is still
    unreal to me. It has been a long process to get to this point, a long
    string of so much logistical planning and packing, preparing and
    goodbye-saying. One would have to dig deep deep into my past, and
    arguably into my parents past to discover where my travel bug really
    first originated, and following this logic it is almost impossible to
    pinpoint the beginning of my journey to Ecuador….but lets overlook
    that for now, and track only the start of this particular voyage.
  </p>

  <p>
    After a holiday season filled with the abundance of family,
    presents, and of course so much food that is typical of my family, I
    was bopping around my empty house in January, looking into study
    abroad options. Argentina seemed like a good possibility for my
    particular interest, with the potential to engage with the substantial
    German communities, but in a Spanish-speaking country. I thought I
    would be able to engage with my two language interests. Well, as it
    turns out there are apparently very few people interested in
    simultaneously pursuing German and Spanish language acquisition while
    abroad…so there aren't really any programs set up to do this…
  </p>

  <p>
    Fast forward a month or two, I am discouraged, since I have missed
    the deadline to apply for Fall 2015 abroad programs through Earlham,
    and have now also decided that the Argentina idea isn't really
    realistic either. So it is looking like I will have to wait until
    junior year to travel. One day there were a few prospective students
    visiting my Spanish class, and my Professor Rodolfo was talking up
    this new Ecuador Program, the fateful words were something like "You
    should all come to Earlham and apply for the Ecuador Program, and
    [looking around at the rest of the class] you should all apply too."
    As soon as I realized that he wasn't kidding, and we really could
    apply still, despite the fact that the application deadline had been
    in November, and it was now late January, I did.
  </p>

  <p>
    What followed were months of visa applications, involving
    physicals, background checks, an HIV test, and so much paperwork. We
    had (along with all the other Fall study abroad groups) a one-credit
    "Cross Cultural Explorations" course where we talked about culture
    shock, staying healthy abroad, and other such topics that might be
    good to know when studying and living in a foreign country. I
    attempted to stay in touch as the summer whirled by (straight from
    school to summer camp, to home-briefly-and now to Ecuador!)
  </p>

  <p>
    Long story short, I hope to keep you all informed about my
    Ecuadorian Escapades these next 4 and half months. There will be many
    more details and pictures once I arrive to my host family in Quito
    later today. I am not sure how often I will post; it all kinda depends
    on my level of fatigue and busy-ness, but stay tuned, and feel free to
    ask me questions or comment on my adventures.
  </p>

  <figure>
    <a href="https://epress.earlham.edu/kpbuche14/files/2015/08/IMG_0201-e1438648022291.jpg">
      <img
        src="https://epress.earlham.edu/kpbuche14/files/2015/08/IMG_0201-e1438648022291-500x500.jpg"
        alt="Oh so much laundry!"
      />
    </a>

    <figcaption>Oh so much laundry!</figcaption>
  </figure>

  <figure>
    <a href="https://epress.earlham.edu/kpbuche14/files/2015/08/IMG_0242-e1438648063372.jpg">
      <img
        src="https://epress.earlham.edu/kpbuche14/files/2015/08/IMG_0242-e1438648063372-500x500.jpg"
        alt="All packed"
      />
    </a>

    <figcaption>Packed and ready&mdash;my host family's Wisconsin cutting board gift safely nestled in the center.</figcaption>
  </figure>
</article>
{{end}}
