{{define "content"}}
<article class="blog-post">
  <h1>Registration Problems, A Salsa Club, And Pichincha</h1>
  <time datetime="2015-11-25">November 25, 2015</time>

  <p>
    It seems like an eternity since the Chiva, and indeed this is a
    new low-it looks life I am falling off the blogging bandwagon here
    towards the end…I apologize, but maybe you will sympathize when
    you finally do hear allll that I have been up to instead of
    blogging.
  </p>

  <p>
    As I alluded to at the end of that far off last post, Monday
    morning (this would have been November 9th) was registration, and
    so Kate and Minori woke up at 7, like good little college students
    to register for Spring semester classes, all picked out and
    thoroughly thought over. But then I got the looverly message that
    I could not in fact register for classes, since my account had a
    hold on it. Oh. So much for being a prepared little college
    student…It was my fault, I had gotten numerous emails from the
    accounting office telling me just that (there had been a
    transcontinental financial aid mix-up…) but in the whirlwind that
    had been everything the past few days, I hadn't done anything to
    taking care of it, and thus couldn't register. After some frantic
    communication with parents and the financial aid office, I decided
    to skip aerial silks (a shame, since it has gotten a lot more fun
    and less brutal as I get to do some fancy tricks now-will try to
    get some pictures for you at some point) but it was necessary to
    skip-classes are kinda important.
  </p>

  <p>
    I got into everything I had hoped to (barely) except for one, so I
    thus spent most of the afternoon muddling over what would work
    instead. I finally ended up with the following. "Topics in Peace
    and Justice" which is an upper level English Major requirement. An
    intro geology class "Earth and Environment" which fulfills my
    general education "scientific inquiry lab" requirement. Then I
    have "Classic and Contemporary German Film" which is the last
    German class I need to take before fulfilling the German half of
    my "Comparative Languages and Linguistics" (CLL) Major (this class
    sounds wonderful, but I am a little worried about the fact that
    every time I attempt to form German sentences these days it turns
    into Spanish halfway through…) But I guess that fact should help
    with "Spanish Creative Writing" which I am soooo excited about for
    so many reasons: Sarah and James are both taking it with me, so we
    can have mini-Ecuador reunions all the time, it fulfills my
    applied art general education requirement, and its upper level
    Spanish credit that can go towards my CLL major as well, AND its
    creative writing, which I am pretty sure I love! The class I had
    planned to take, but that filled up before I could get my account
    hold straightened out was "Physics for Future Presidents" which
    would have fulfilled my non-lab science requirement (in the least
    scienc-y way possible-really would have been idea, but apparently
    50 other people thought so too…) Instead, I decided to take
    "Indigenous People and Environmental Justice" partly because it
    sounds like a fascinating continuation of the thinking we have
    been doing about Andean indigenous people this semester (except in
    North America) and partly because my dear friend Malia may be in
    the successful process of convincing me to be an Environmental
    Studies minor with her… Before you waste your time telling me: I
    do appreciate the fact that double majoring (one of those majors
    already involving two parts) with a minor might just be the best
    way to graduate college certifiably insane. We will see, I don't
    have to declare a minor till spring of senior year, so there is
    time to see how it goes. Long story short: I am pretty jazzed
    about all the justice, peace, environment and art that awaits me
    this spring, and if the homework doesn't kill me, then the
    schedule itself looks good on paper anyway. Whew! That was Monday.
  </p>

  <p>
    Pretty sure nothing exciting happened on Tuesday.
  </p>

  <p>
    On Wednesday, our art class went on a field trip to the local
    museum owned and curated by the daughter of the Czech Holocaust
    survivor and impressive artist Trude Sojka, who emigrated to
    Ecuador after the war. Her work is a unique mix of recycled
    mediums, often combined with cement and painted with acrylics. It
    was an inspiring journey through her emotional reconciliation with
    her experiences of horror in Auschwitz, and other camps. I chose
    to analyze "El Ave Fénix" which I thought fitting for Kathryn
    Phoenix…It is made of the recycled metal of an industrial garbage
    can lid, as the base to a cement and acrylic sculpture-painting.
  </p>

  <blockquote>
    Here is where I try to explain how I have been over zealous with
    the photos this semester, and apparently have reached the limit of
    the blog, and therefore cannot show you the pictures in the normal
    way. BUT luckily google-drive exists, so here is the link to the
    public folder with all the photos, just not as nicely captioned
    and interspersed with the text…<br/>
    <a href="https://drive.google.com/folderview?id=0B9YRiU9TFWkfcFBpY29GUWNDX1E">https://drive.google.com/folderview?id=0B9YRiU9TFWkfcFBpY29GUWNDX1E</a>
  </blockquote>

  <p>
    Rodolfo's class was the usual goofy affair for the first hour
    (please see Tyler wearing Michelle's hat, and Michelle's goofy
    evaluation about Yasuní) We then rested a little after and Minori,
    Veronica, and Sarah and I met Rodolfo, Daysi (international
    programs director) and her cousin in the fancy schmancy salsa club
    they invited us to. We were by far the youngest ones in the place
    (college students can't always afford to pay a $10 entrance
    fee-hence Earlham did in our case-its a cultural experience,
    right?) I drank my $5 in a michelada (I had never heard of it, but
    Sarah tells me its a thing in New Mexico: beer with lime juice and
    salsa, with salt on the rim-think margarita-) it was pretty good: <em>lots</em> of
    flavors! (the menu cracked me up, which is the next picture) In
    the process of drinking my cheesy hot chocolate, which I ordered
    next, I was asked to dance by a man of at least 60. This was not
    as odd as you might think: salsa dancing is actually quite fun if
    you can relax and sufficiently ignore the fact that you don't
    actually have any idea what you are doing, and let the male who is
    actually supposed to be leading, do that. I was then asked (twice,
    which I really can't understand, since I clearly was no match for
    the practiced expert that he was…) by another guy. This was
    actually slightly more uncomfortable, despite the smaller age gap
    of only about 10 years, because he kept insisting I look at him.
    thus, in addition to a couple fancy spins, I learned that:
    prolonged eye contact with total strangers is not my forte…We all
    dance with Rodolfo as well-not something you do with most of your
    professors perhaps, but when in Ecuador…
  </p>

  <p>
    Somehow we still had enough energy at 1 am to find another club
    (Sarah's motivation to dance really is a force of nature
    sometimes…) so she and I went with Minori to the same club we had
    gone to towards the beginning of the program. Similarly to that
    time, it took five minutes tops for our trio of girls to be
    divided up by a group of eager men. Unlike last time however, this
    group of guys just wanted to dance, and we chatted, without any
    unwanted kissing attempts (whew!) We passed a couple of hours
    improving out bachata steps, and eventually tumbled into a taxi
    and home to bed sometime around 3.
  </p>

  <p>
    After that late night, the only logical thing to do the next
    morning was to wake up before 9 to go climb a mountain.
  </p>

  <p>
    The first thing on my famous bucket list was "climb Pichincha"
    which is the volcano/mountain for which this province is named.
    Ximena and I prepared, and eventually managed to successfully
    contact Sarah and Tyler to join us on our adventure. Gustavo
    kindly dropped us all off at el teleferico (cable car) which we
    happily rode up. After a few obligatory pictures with the view
    (sorry they aren't here is-the link again) we then began the
    fairly arduous hike up the mountain.
  </p>

  <p>
    I think it ended up being a good thing that I was never quite sure
    where we were going until we actually got to the top, and every
    little rise had a way of making it seem like we were perpetually
    almost there, which was an encouraging illusion. We passed some
    interesting flora-prickly orange shrubs, purple lupine
    (reminiscent of m y childhood book Mrs. Rumphias) and carpets of
    prickly green plants that coated the sometimes vertical sides of
    the trail. We took frequent breaks to eat the fruit and tostado
    that we had brought to sustain our journey, and to shove our
    cheeks (chipmunk style) with panela (the unrefined sugar) as we
    soldiered on upwards. Right as we were about to reach the top,
    which did actually involve more climbing and scrambling than
    hiking, the wind picked up significantly, and we found ourselves
    in a thick cloud, quickly realizing that our extremities were
    going numb. It made us feel sufficiently extreme and hardcore,
    before it passed just as we reached the actual top of the
    mountain!
  </p>

  <p>
    I realized I had never actually been ALL the way to the top of a
    MOUNTAIN before. I have been to the top of bluffs, and partway up
    mountains, but there truly is something so stereotypically
    majestic and awe-inspiring about a mountaintop. We made repeated
    vain attempts to capture the breadth and expanse of the view (and
    ourselves there-I am grinning over enthusiastically in one of the
    photos to ask if I had tostado in my teeth, by way of explanation)
    with our entirely inadequate cameras, then, taking one last breath
    of mountain-top-ness, we began the descent.
  </p>

  <p>
    Surprise surprise, it went much faster than the going up part. The
    highlights being the sand -that-worked-like-an-escalator, such
    that you actually went about 4 steps down with every move (Sarah
    decided this wasn't quite fast enough, and went for the
    spread-eagle tumble approach…as you can see in the photos) the
    other highly comical moment was when Tyler and Ximena were
    galloping down the path at such an alarmingly accelerating speed
    that they almost collided and went flying, both of their backpacks
    bouncing wildly, as they wove past each other, careening down the
    mountain. Maybe its a 'had to be there' kinda moment, but I really
    did have to stop walking and focus on breathing, cuz I was
    laughing so hard…
  </p>

  <p>
    We arrived at the bottom thoroughly exhausted, with trembling legs
    and a strong urge to sleep immediately, but with a sense of
    accomplishment about the whole thing. We took an overpriced
    private bus down the mountain, because we were tired of waiting
    for the public bus, and classically, just as we paid our dollar
    each, 25¢ bus pulled up…ah well. It is an interesting change in
    perspective though, because in the US, you pretty much can't buy
    anything except 3 gumballs with 75¢, and therefore I would not
    probably have cared much at all. Whereas here 75¢ is three bus
    rides, or at least 2 pastries…Speaking of pastries, we realized we
    were quite hungry, having eaten only snacks since breakfast, and
    having also, consequently, climbed a mountain since then. Ximena
    went home, and the tree of us went in search of food, barely
    managing to eat and get home before collapsing, even Sarah having
    agreed to cancel the previous plans to go out dancing that night.
  </p>

  <p>
    Sunday then, was a much deserved day of rest, homework and rain,
    that always seems to justify not getting out of your pajamas. I
    did my best to get most of my homework done, to prepare for the
    Cuenca trip the following weekend. Having done what I deemed to be
    a sufficient amount, Sarah and I indulged in a lovely
    movie/knitting night accompanied by <cite>Harry Potter and the Scorer's Stone.</cite>
  </p>

</article>
{{end}}
