{{define "content"}}
<article class="blog-post">
  <h1>The Week I Was Supposed to Write About on Sunday…</h1>
  <time datetime="2015-09-09">September 9, 2015</time>

  <p>
    This should be a shorter post, since I can't think of anything
    that extremely exhilarating that happened post-baby shower until
    Wednesday, which was 2 for 1 night at the movie theater, so since
    they were sold out of what we actually wanted to see, we ended up
    watching a subtitled version of "Hitman: Agent 47" with extreme
    amounts of blood, and a fairly interesting (if not totally
    original) storyline. Sarah and I decided it was a mix between "The
    Matrix" and "Inception". I had my written mid-term for our first
    Spanish module on Friday morning, which I found out yesterday went
    very well, all things considered. After class in the afternoon
    Sarah, Tyler, Minori, Rodolfo and Veronica (an Ecuadorian student
    who has become our friend because she is doing an anthropology
    project on the experience of foreign students-yep, we're her study
    subjects) went out to "Sushi Nori" and had Thai and Japanese foods
    (Minori, being Japanese informed us that it was not quite
    authentic, although it was good) We had a wonderful time-being the
    only ones in the place at 4:30 increased the level of silly
    boisterousness to a nice level. After that we walked down the
    street to get sorbet and after collectively trying pretty much
    every single flavor, finally bought full portions and thoroughly
    enjoyed them, before parting ways for the evening.
  </p>

  <p>
    My intention was to get all my homework done that Friday night (my
    presentation for Art History, and my interview for the oral
    portion of my Spanish midterm) because I thought that my family
    was going to Colombia that weekend. As it turned out, Abuela Lupe
    was feeling a little sick, and since she had wanted to go, we
    postponed the trip. Well, in that case I thought…I'll watche a
    movie instead!
  </p>

  <p>
    Then, Saturday morning, we popped some more popcorn, and piled
    into the car (Lupe apparently feeling better enough to come on
    this shorter trip) and set off for Mindo. Lupe kindly sitting in
    the middle in the back so that Mila (the volunteer who is staying
    with us for three weeks for her "Global Citizen Year"
    training--always a new face!) and I could look out the windows. We
    had a nice discussion about Wisconsin and agriculture, until the
    winding mountain roads forced me to close my eyes, and focus all
    my energy on not vomiting…
  </p>

  <p>
    We finally arrived, and the fresh air soon revived me for our hike
    town to yet another waterfall.
  </p>

  <figure>
    <a href="img/IMG_0984.jpg">
      <img
        src="img/IMG_0984-225x300.jpg"
        alt="Me swinging on a vine"
      />
    </a>

    <figcaption>You can call me Kate of the Jungle</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_0977.jpg">
      <img
        src="img/IMG_0977-225x300.jpg"
        alt="Me on a rope swing"
      />
    </a>

    <figcaption>Wheeeee!</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_0971.jpg">
      <img
        src="img/IMG_0971-225x300.jpg"
        alt="A Carnivorous plant (open)"
      />
    </a>

    <figcaption>A sort of Venus fly-trap, but for mosquitoes, I guess--could use one of those back home…</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_0993.jpg">
      <img
        src="img/IMG_0993-225x300.jpg"
        alt="A Carnivorous plant (closed)"
      />
    </a>

    <figcaption>A similar plant, but the closed trapped mosquito version…</figcaption>
  </figure>

  <p>
    We arrived at the river, and soon discovered that at one of the
    lookout points there was the option to jump into the water from a
    fairly significant height. Mila and I convinced each other to do
    it. Somehow we didn't loose our nerve, even after seeing the guy
    who worked there demonstrate how you have to jump, and assuring
    him that no, we didn't have any back problems. (Gustavo: "Because
    you will after this!") I was first-I harnessed up and before I
    could chicken out, off I sprang!
  </p>

  <figure>
    <a href="img/IMG_1005.jpg">
      <img
        src="img/IMG_1005-225x300.jpg"
        alt="About to jump off the waterfall"
      />
    </a>

    <figcaption><q>You want me to jump where!?</q></figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1007.jpg">
      <img
        src="img/IMG_1007-225x300.jpg"
        alt="Jumping off the waterfall (1)"
      />
    </a>

    <figcaption><q>Ok, I'll do it…</q></figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1008.jpg">
      <img
        src="img/IMG_1008-225x300.jpg"
        alt="Jumping off the waterfall (2)"
      />
    </a>

    <figcaption>Look out below!</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1053.jpg">
      <img
        src="img/IMG_1053-169x300.jpg"
        alt="Landing in the water"
      />
    </a>

    <figcaption>That splash is me</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1011.jpg">
      <img
        src="img/IMG_1011-225x300.jpg"
        alt="Standing at the edge of the river after the jump"
      />
    </a>

    <figcaption>Whew, I made it!</figcaption>
  </figure>

  <p>
    I went very far down, but still never touched the bottom, before
    surging my way up to safety. Gustavo estimated that it must have
    been about 7 meters (23 ish feet) high, although we never got a
    picture to really tell.
  </p>

  <p>
    We then explored that part of the river a bit before starting the
    hike back.
  </p>

  <figure>
    <a href="img/IMG_1020.jpg">
      <img
        src="img/IMG_1020-300x225.jpg"
        alt="Exploring the river (1)"
      />
    </a>

    <figcaption>Found a nice private beach</figcaption>
  </figure>

  <figure>
    <a href="img/IMG_1046.jpg">
      <img
        src="img/IMG_1046-300x253.jpg"
        alt="Exploring the river (2)"
      />
    </a>

    <figcaption>Exploring the river</figcaption>
  </figure>

  <p>
    On the way back, we got an offer to be guided (with rope and real
    harnesses and all) in climbing one of the smaller waterfalls.
    Ximena and I were in. It was certainly quite an adventure. The
    climb itself was fairly easy, aside from being rather
    slippery-there were solid hand and footholds, the part that made
    it quite difficult, was the massive amount of river rushing its
    your eyes and mouth, obscuring your vision (especially when
    looking up to search for the next hold.) We both made it however
    (with only a few bruises on our knees and legs) triumphant!
  </p>

  <figure>
    <a href="img/IMG_1052.jpg">
      <img
        src="img/IMG_1052-225x300.jpg"
        alt="Climbing up the waterfall"
      />
    </a>

    <figcaption>See that figure struggling up that waterfall--it's me</figcaption>
  </figure>

  <p>
    After splashing around a bit more we finally went on our way.
    Having once again been too busy adventuring to bother about lunch,
    it was about 6 in the foggy evening when we pulled over at a
    restaurant to get some food, having long since depleted our
    popcorn supply. We played a game of going around the circle naming
    fruits until we ran out (that game would have been a lot shorter
    in the States, but Ecuadorian biodiversity sustained us almost
    until our food came) We saw the daughter of the cook leave and
    come back carrying a branch full of platano verde (green
    plantains) which we ate about 15 minutes later-so, you might call
    it fresh…
  </p>

  <p>
    We eventually got home to and to bed, and woke up to a Sunday of
    not getting out of pajamas as I did homework very inefficiently,
    talked with some people back home, and didn't have time to blog….I
    interviewed Gustavo for my oral exam for Spanish. It was very
    informative-I love hearing people's life stories. I really think
    it helps me understand so much about a person by filling in the
    gaps in his or her history, I find it to be such a rich
    experience. How can I make that into a future job??
  </p>

  <p>
    Monday's excitement was FINALLLY getting to do aerial silks! I
    showed up after my class at 12:30, and was set to work running and
    doing abs workouts, then I got to practice climbing and a few
    other basics. Suffice it to say this experience confirmed what I
    already knew-I am extremely out of shape. I was utterly exhausted
    by the time we ended at 2-just dead on my feet-and even the walk
    home was a struggle. The instructor/professor/club leader said it
    was fine if I showed up at 12:30 every Monday and Wednesday though
    (even though they start at 11, and I am certainly way behind the
    group as it is). I dearly hope that I get in shape quickly from
    this, so that it does not wipe me out as much as it did on
    Monday…I woke up this morning to a body that hurt all over, my
    hands ached from gripping, my abs tender and sore, calves shaky,
    shoulders, biceps, deltoids, the list goes on…even the tops of my
    feet were tender from wrapping the silks around them and sliding
    down. I also somehow managed to bruise my spine and tailbone
    somewhere in that mess….so yah, mess would be a good word…but I am
    going back tomorrow! We shall see how it goes!
  </p>

  <figure>
    <a href="img/IMG_1057.jpg">
      <img
        src="img/IMG_1057-225x300.jpg"
        alt="Aerial silks setup in the gym"
      />
    </a>

    <figcaption>
      This isn't of me, but since I have been talking about it for so
      long, its just to prove I was really there (taken during a much
      needed breather).
    </figcaption>
  </figure>

  <p>
    Alright, now you know it all, at long last, I am up to date!
  </p>

</article>
{{end}}
