{{define "content"}}
<article class="prose prose-blue prose-lg">
  <h2>Welcome To My Blog!</h2>

  <p>
    I guess I should probably tell you what the heck I am doing here,
    right? Introducing myself is probably unnecessary, since if you
    are reading this, it’s probably because I sent you the link…
  </p>

  <p>
    I have the privilege of spending June and July working at an
    organization called <a href="https://raa-berlin.de/en/">RAA Berlin</a>
    where I will be doing I'm not really sure what&mdash;being an intern,
    which hopefully will mean being as useful as I can to this
    fabulous nonprofit.
  </p>

  <p>
    I received a $4,000 scholarship from Earlham and the generous
    German department also pitched in with another grant to make this
    amazing opportunity possible.
  </p>
</article>
{{end}}
